*
    font-family: 'Montserrat', sans-serif !important
    font-weight 400

// font-weight -------------
.font-weight-semi-bold
    font-weight 600

//background -------------
.bg-gray
    background-color #F7F8FA
.bg-blue
    background-color #034C79
.bg-black
    background-color #414042

//container -------------
.container--1063
    max-width 1063px
.container--1020
    max-width 1020px
.container--608
    max-width 608px
.container--924
    max-width 924px
.container--998
    max-width 998px
img
    max-width 100%

//font size -------------
.fs-10
    font-size 10px
.fs-12
    font-size 12px
.fs-13
    font-size 13px
.fs-16
    font-size 16px
.fs-17
    font-size 17px
.fs-18
    font-size 18px
.fs-20
    font-size 20px
.fs-22
    font-size: 22px

// text color
.text-black
    color #000000