*
    font-family: 'Montserrat', sans-serif !important
    font-weight 400

// font-weight -------------
.font-weight-semi-bold
    font-weight 600
.font-weight-medium
    font-weight: 500

//background -------------
.bg-gray
    background-color #F7F8FA
.bg-blue
    background-color #034C79
.bg-black
    background-color #414042

//container -------------
.container--1063
    max-width 1063px
.container--1020
    max-width 1020px
.container--608
    max-width 608px
.container--924
    max-width 924px
.container--691
    max-width 691px
.container--790
    max-width 790px
.container--998
    max-width 998px
.container--768
    max-width 768px
.container--860
    max-width 860px
.container--890
    max-width 890px
.container--830
    max-width 830
img
    max-width 100%

//font size -------------
.fs-7
    font-size 7px
.fs-9
    font-size 9px
.fs-10
    font-size 10px
.fs-12
    font-size 12px
.fs-13
    font-size 13px
.fs-14
    font-size 14px
.fs-15
    font-size 15px
.fs-16
    font-size 16px
.fs-17
    font-size 17px
.fs-18
    font-size 18px
.fs-20
    font-size 20px
.fs-22
    font-size: 22px
.fs-24
    font-size: 24px
.fs-24
    font-size: 26px
.fs-28
    font-size: 28px
.fs-33
    font-size: 33px
.fs-43
    font-size: 43px

// text color
.text-black
    color #000000
// width
.w-75
    width 75%
// font import
@font-face
   font-family 'Mobifone'
   font-style normal
   src: url('../fonts/UTMMobifoneKT.eot?#iefix') format('embedded-opentype'),  url('../fonts/UTMMobifoneKT.woff') format('woff'), url('../fonts/UTMMobifoneKT.ttf')  format('truetype'), url('../fonts/UTMMobifoneKT.svg#UTMMobifoneKT') format('svg')

.ff-mobifone
    font-family: 'Mobifone', sans-serif !important
.breadcrumb
    background none
    padding  10px 0

@media (min-width 992px)
    .fs-lg-21
        font-size: 21px
    .fs-lg-26
        font-size: 26px
    .fs-lg-28
        font-size: 28px
    .fs-lg-31
        font-size: 31px
    .fs-lg-33
        font-size: 33px
    .fs-lg-35
        font-size: 33px
    .fs-lg-41
        font-size: 41px
    .fs-lg-43
        font-size: 43px
    .fs-lg-47
        font-size: 47px