section.news
    .container.container--1020
        h2.fs-24.font-weight-semi-bold Tin tức nổi bật
        .row
            .col-12.col-lg-6
                .news__banner
                    img(src='images/news.png', alt='')
                    .label.text-white.fs-28.font-weight-bold(style='background-image:url(images/label.png)') Giảm giá shock
            .col-12.col-lg-6
                .news__text
                    h3.fs-15.font-weight-semi-bold Giảm giá shock
                    p.fs-12 Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
                    p.fs-12 Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                .arrow
                    span.arrow__left
                        img(src='images/arrowleft.png')
                    span.arrow__right
                        img(src='images/arrowright.png')
        .text-center.news__viewall
            a.fs-11.font-weight-semi-bold(href='') Xem tất cả tin tức
                img(src='images/arrowdown.png')
            


            

