section.portfolio
        .container.container--924
            h2.section__title.text-uppercase.text-center.fs-24.font-weight-medium.wow.fadeInUp(data-wow-duration="1s") 
                | Mang thiên nhiên đến ngôi nhà bạn
            .row
                .col-12.col-lg-4
                    .portfolio__item.position-relative.wow.fadeInUp(data-wow-duration="0.5s", data-wow-delay="1s")
                        img.w-100(src='images/portfolio.png')
                        p.position-absolute.text-white.fs-19 Công nghệ hiện đại
                .col-12.col-lg-4
                    .portfolio__item.position-relative.wow.fadeInUp(data-wow-duration="0.5s", data-wow-delay="1.5s")
                        img.w-100(src='images/portfolio2.png')
                        p.position-absolute.text-white.fs-19 Bền bỉ êm ái
                .col-12.col-lg-4
                    .portfolio__item.position-relative.wow.fadeInUp(data-wow-duration="0.5", data-wow-delay="2s")
                        img.w-100(src='images/portfolio3.png')
                        p.position-absolute.text-white.fs-19 Thuận theo thiên nhiên