section.portfolio
        .container.container--924
            h2.text-center.fs-24.font-weight-normal Mang thiên nhiên đến ngôi nhà bạn
            .row
                .col-4
                    .portfolio__item
                        img(src='images/portfolio.png')
                        p.text-white.fs-19 Công nghệ hiện đại
                .col-4
                    .portfolio__item
                        img(src='images/portfolio2.png')
                        p.text-white.fs-19 Bền bỉ êm ái
                .col-4
                    .portfolio__item
                        img(src='images/portfolio3.png')
                        p.text-white.fs-19 Thuận theo thiên nhiên