.product-viewed
    h3.product-section-title Các sản phẩm đã xem
    .list-product.d-flex.justify-content-center.row
        .col-lg-3.product-viewed__item
            .item-product__image
                img.img-fluid.d-block.mx-auto(src="./images/product_detail/ic-27.png")
            .item-product__detail
                h3 Inverter eCool INV 3489
                span.featured 9000 Btu
                h4.item-product__price 3.260.000đ
        .col-lg-3.product-viewed__item
            .item-product__image
                img.img-fluid.d-block.mx-auto(src="./images/product_detail/ic-27.png")
            .item-product__detail
                h3 Inverter eCool INV 3489
                span.featured 9000 Btu
                h4.item-product__price 3.260.000đ
        .col-lg-3.product-viewed__item
            .item-product__image
                img.img-fluid.d-block.mx-auto(src="./images/product_detail/ic-27.png")
            .item-product__detail
                h3 Inverter eCool INV 3489
                span.featured 9000 Btu
                h4.item-product__price 3.260.000đ