section.product
    .container.container--1020
        img.w-100.img-banner-product(src='images/productbanner.png', alt='')
        .row
            .col
                a.d-inline-block.product-card.text-center(href='#')
                    img(src='images/product3.png')
                    p.fs-14.text-black Điều hòa inverter
                    .btn.btn--detail.fs-12 Chi tiết
            .col
                a.d-inline-block.product-card.text-center(href='#')
                    img(src='images/product3.png')
                    p.fs-14.text-black Điều hòa inverter
                    .btn.btn--detail.fs-12 Chi tiết
            .col
                a.d-inline-block.product-card.text-center(href='#')
                    img(src='images/product3.png')
                    p.fs-14.text-black Điều hòa inverter
                    .btn.btn--detail.fs-12 Chi tiết
            .col
                a.d-inline-block.product-card.text-center(href='#')
                    img(src='images/product3.png')
                    p.fs-14.text-black Điều hòa inverter
                    .btn.btn--detail.fs-12 Chi tiết
            .col
                a.d-inline-block.product-card.text-center(href='#')
                    img(src='images/product3.png')
                    p.fs-14.text-black Điều hòa inverter
                    .btn.btn--detail.fs-12 Chi tiết