section.slider#home-slider
    .slider__item(style="background-image: url('images/slider1.png');height:600px;")
        .container.slider__item__content_1
            .text-center.slider__description
                h2.text-white.fs-28(data-animation="fadeInUpBig" data-delay="1s") Điều hòa inverter
                p.text-white.fs-17(data-animation="fadeInUpBig" data-delay="2s") Tiết kiệm điện tuyệt đối với Điều hòa wifi Ecool Điều khiển bằng app tiện dụng
                a.text-white.see-more(data-animation="fadeInUpBig" data-delay="3s") Xem thêm
    .slider__item(style="background-image: url('images/slider1.png');height:600px;")
        .container.slider__item__content_1
            .text-center.slider__description
                h2.text-white.fs-28(data-animation="fadeInUpBig" data-delay="1s") Điều hòa inverter
                p.text-white.fs-17(data-animation="fadeInUpBig" data-delay="2s") Tiết kiệm điện tuyệt đối với Điều hòa wifi Ecool Điều khiển bằng app tiện dụng
                a.text-white.see-more(data-animation="fadeInUpBig" data-delay="3s") Xem thêm

   
block styles
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css')
    link(rel='stylesheet', type='text/css', href='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css')
    link(rel='stylesheet', type='text/css', href='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css')
    link(rel='stylesheet', type='text/css', href='css/pages/index.css')

