section.slider#home-slider
    .slider__item(style="background-image: url('images/slider1.png')")
        .container
            .text-center.slider__description
                h2.ff-mobifone.text-white.fs-28.text-uppercase(data-animation="fadeInUpBig" data-delay="0.5s") Điều hòa inverter
                .slider__detail(data-animation="fadeInUpBig" data-delay="1.5s")
                    p.text-white.fs-17.m-0 Tiết kiệm điện tuyệt đối với 
                    p.text-white.fs-17.m-0 Điều hòa wifi Ecool 
                    p.text-white.fs-17.m-0 Điều khiển bằng app tiện dụng
                a.btn.btn-outline-light.text-white.see-more(data-animation="fadeInUpBig" data-delay="2.5s") Xem thêm
    //- .slider__item(style="background-image: url('images/slider1.png')")
    //-     .container
    //-         .text-center.slider__description
    //-             h2.ff-mobifone.text-white.fs-28.text-uppercase(data-animation="fadeInUpBig" data-delay="0.5s") Điều hòa inverter
    //-             .slider__detail(data-animation="fadeInUpBig" data-delay="1.5s")
    //-                 p.text-white.fs-17.m-0 Tiết kiệm điện tuyệt đối với 
    //-                 p.text-white.fs-17.m-0 Điều hòa wifi Ecool 
    //-                 p.text-white.fs-17.m-0 Điều khiển bằng app tiện dụng
    //-             a.btn.btn-outline-light.text-white.see-more(data-animation="fadeInUpBig" data-delay="2.5s") Xem thêm

   
block styles
    link(rel='stylesheet', type='text/css', href='css/pages/index.css')

