section.video.wow.fadeInUp(data-wow-delay="0.5s", style='background-image:url(images/bgvideo.png)')
    #home-video-slider
        .video__item.wow.fadeInUpBig(data-wow-delay="1s")
            .video__img(style="background-image: url('images/video.png');")
            .video__content
                p.fs-17.text-white.text-center Thân thiện với không gian
                h3.text-white.fs-33.font-weight-semi-bold.text-center.text-uppercase Điều hòa inverter
        .video__item.wow.fadeInUpBig(data-wow-delay="2s")
            .video__img(style="background-image: url('images/video.png');")
            .video__content
                p.fs-17.text-white.text-center Thân thiện với không gian
                h3.text-white.fs-33.font-weight-semi-bold.text-center.text-uppercase Điều hòa inverter
        .video__item.wow.fadeInUpBig(data-wow-delay="1.5s")
            .video__img(style="background-image: url('images/video.png');")
            .video__content
                p.fs-17.text-white.text-center Thân thiện với không gian
                h3.text-white.fs-33.font-weight-semi-bold.text-center.text-uppercase Điều hòa inverter
