section.video(style='background-image:url(images/bgvideo.png)')
    .video__item
        img.video__image(src="images/video.png", alt="")
        p.fs-17.text-white.text-center Thân thiện với không gian
        h3.text-white.fs-33.font-weight-semi-bold.text-center.text-uppercase Điều hòa inverter