mixin Product_item_style_1(name, price, description)
    a.col-4.product.product_item_style_1
        .item__wrap
            .item__image
                img(src="images/product_item_style_1.png")
            p.item__title= name
            p.item__price= price
            .item__shortdescription
                .divider
                ul 
                    li
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                    li
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                    li
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit

            span.btn-detail Chi tiết sản phẩm