extends ../layouts/main.pug


block content
    .about-son-ha
        section.banner
            img.w-100(src="images/sonha.png", alt="Sơn Hà")

        .container.container--890
            .row
                .col-md-12.title-son-ha
                    h1.font-weight-bold.fs-22.fs-lg-35.text-center.mb-5 GIỚI THIỆU VỀ SƠN HÀ
                    .description.text-center.fs-12
                        p.text-center.des-son-ha Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        p.text-center.des-son-ha It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.Why do we use it?
            .row.items-son-ha
                .col-md-4.mb-5.item-son-ha
                    img.mb-3.img-item-son-ha(src="images/son-ha-1.png", alt="")
                    h5.mb-3.font-weight-medium.fs-16 Quá trình phát triển
                    p.fs-14.font-weight-light Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                .col-md-4.mb-5.item-son-ha
                    img.mb-3.img-item-son-ha(src="images/son-ha-2.png", alt="")
                    h5.mb-3.font-weight-medium.fs-16 Ban lãnh đạo
                    p.fs-14.font-weight-light Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                .col-md-4.mb-5.item-son-ha
                    img.mb-3.img-item-son-ha(src="images/son-ha-3.png", alt="")
                    h5.mb-3.font-weight-medium.fs-16 Công ty thành viên
                    p.fs-14.font-weight-light Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                .col-md-4.mb-5.item-son-ha
                    img.mb-3.img-item-son-ha(src="images/son-ha-4.png", alt="")
                    h5.mb-3.font-weight-medium.fs-16 Nhà máy sản xuất
                    p.fs-14.font-weight-light Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                .col-md-4.mb-5.item-son-ha
                    img.mb-3.img-item-son-ha(src="images/son-ha-5.png", alt="")
                    h5.mb-3.font-weight-medium.fs-16 Tầm nhìn sứ mệnh
                    p.fs-14.font-weight-light Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                .col-md-4.mb-5.item-son-ha
                    img.mb-3.img-item-son-ha(src="images/son-ha-6.png", alt="")
                    h5.mb-3.font-weight-medium.fs-16 Các giải thưởng
                    p.fs-14.font-weight-light Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            .row
                .col-12.sonha-slide
                    #slides-sonha
                        .slide.position-relative
                            img.w-100(src='images/slide1.png')
                            .slide__content.position-absolute
                                h5.text-white.font-weight-medium.fs-16 Nhà máy sản xuất Bắc Ninh
                                p.mb-0.text-white.font-weight-light.fs-10
                                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat 
                        .slide.position-relative
                            img.w-100(src='images/slide1.png')
                            .slide__content.position-absolute
                                h5.text-white.font-weight-medium.fs-16 Nhà máy sản xuất Bắc Ninh
                                p.mb-0.text-white.font-weight-light.fs-10
                                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam era
                        .slide.position-relative
                            img.w-100(src='images/slide1.png')
                            .slide__content.position-absolute
                                h5.text-white.font-weight-medium.fs-16 Nhà máy sản xuất Bắc Ninh
                                p.mb-0.text-white.font-weight-light.fs-10
                                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                        .slide.position-relative
                            img.w-100(src='images/slide1.png')
                            .slide__content.position-absolute
                                h5.text-white.font-weight-medium.fs-16 Nhà máy sản xuất Bắc Ninh
                                p.mb-0.text-white.font-weight-light.fs-10
                                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat 
                        .slide.position-relative
                            img.w-100(src='images/slide1.png')
                            .slide__content.position-absolute
                                h5.text-white.font-weight-medium.fs-16 Nhà máy sản xuất Bắc Ninh
                                p.mb-0.text-white.font-weight-light.fs-10
                                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat 
                        .slide.position-relative
                            img.w-100(src='images/slide1.png')
                            .slide__content.position-absolute
                                h5.text-white.font-weight-medium.fs-16 Nhà máy sản xuất Bắc Ninh
                                p.mb-0.text-white.font-weight-light.fs-10
                                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat 
                        .slide.position-relative
                            img.w-100(src='images/slide1.png')
                            .slide__content.position-absolute
                                h5.text-white.font-weight-medium.fs-16 Nhà máy sản xuất Bắc Ninh
                                p.mb-0.text-white.font-weight-light.fs-10
                                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat 
                    #slides-sonha-item
                        .slide
                            img.w-100.sub-item-slide(src='images/item-sh-1.png')
                        .slide
                            img.w-100.sub-item-slide(src='images/item-sh-2.png')
                        .slide
                            img.w-100.sub-item-slide(src='images/item-sh-3.png')
                        .slide
                            img.w-100.sub-item-slide(src='images/item-sh-1.png')
                        .slide
                            img.w-100.sub-item-slide(src='images/item-sh-2.png')
                        .slide
                            img.w-100.sub-item-slide(src='images/item-sh-3.png')
                        .slide
                            img.w-100.sub-item-slide(src='images/item-sh-3.png')


