extends ../layouts/main.pug

block content
    section.banner
        img.w-100.mb-2(src='images/banner-about-ecool.png')
    .container.container--1020
        nav.fs-10.font-weight-light(aria-label='breadcrumb')
            ol.breadcrumb
                li.breadcrumb-item
                    a(href='/home.html') Home
                li.breadcrumb-item
                    a(href='/home.html') Giới thiệu
                li.breadcrumb-item.active(aria-current='page')
                    a(href='#') Về Ecool
    section.about-ecool
        .container.container--1020
            h1.text-center.title-about-ecool Giới thiệu về Ecool
            .text-center
                img.line-down(src='images/line-down.png')
            .row
                .col-12
                    p.fs-13.about-description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            .row.items-ecool
                .col-md-4.text-center
                    .item-img
                        img.img-item-ecool(src="images/icon1.png", alt="CÔNG NGHỆ HIỆN ĐẠI")
                    p.text-center.text-uppercase.title-icon-ecool CÔNG NGHỆ HIỆN ĐẠI
                .col-md-4.text-center
                    .item-img
                        img.img-item-ecool(src="images/icon2.png", alt="THUẬN THEO THIÊN NHIÊN")
                    p.text-center.text-uppercase.title-icon-ecool THUẬN THEO THIÊN NHIÊN
                .col-md-4.text-center
                    .item-img
                        img.img-item-ecool(src="images/icon3.png", alt="BỀN BỈ,Êm ÁI")
                    p.text-center.text-uppercase.title-icon-ecool CÔNG NGHỆ HIỆN ĐẠI
    section.about-story
        .items-post
            .text-center
                //- .image-items-post(style='background-image: url(images/bg-about.png)')
                .container.container--1020
                    h3.font-weight-light.text-center.title-light Câu chuyện thương hiệu
                    h2.font-weight-medium.text-center.title-medium eCool: Sống chuẩn tự nhiên
                    p.fs-14.about-description Chúng tôi tin rằng kiện sống tuyệt vời nhất là cuộc sống hài hoà và thuận theo những vận động của tự nhiên. Vì vậy chúng tôi nỗ lực nghiên cứu và phát triển để tạo ra một sản phẩm điều hòa đem tới môi trường sống hoà hợp nhất với thiên nhiên, khiến cho môi trường sống quanh bạn dễ chịu hơn, có thể cảm nhận rõ ràng qua các giác quan trên cơ thể.
                    p.fs-14.about-description Để làm được điều này, các chuyên gia của eCool sử dụng những thành quả mới nhất của các chuyên gia hàng đầu Nhật Bản trong lĩnh vực nghiên cứu và ứng dụng công nghệ tái tạo môi trường sống tự nhiên trong đô thị hiện đại. Trong đó kết hợp công nghệ quạt gió Ed-Tec, mô tơ 4 chiều Quart-THRU đem lại hiệu quả làm lạnh sâu và nhanh một cách vượt trội. Màng lọc E-Nano đem tới nguồn không khí trong lành, tốt cho sức khỏe hô hấp, tích hợp tính năng điểu khiển bằng Wifi. Và trên hết, eCool cam kết hiệu quả tiết kiệm điện, vận hành bền bỉ và êm ái theo thời gian.
                    p.fs-14.about-description Chúng tôi làm tất cả để mang bầu không khí tự nhiên đến với gia đình bạn.
                img.line-down(src='images/img-about-ecool.png')
    
    section
        .container.container--1020
            .row.items-product
                .col-12.text-center
                    h2.fs-16.fs-lg-26.text-center.font-weight-light.title-product ĐẶC ĐIỂM DÒNG SẢN PHẨM
            .row.items-slide.pb-5
                .col-12.col-lg-4.order-1.order-lg-0
                    .news__text
                    h2.fs-18.fs-lg-43.font-weight-light QUẠT GIÓ EDTEC
                    p.fs-12 Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                    .arrow
                        span.arrow__left
                            img(src='images/arrowleft.png')
                        span.arrow__right
                            img(src='images/arrowright.png')
                .col-12.col-lg-8.order-0.order-lg-1
                    .news__banner
                        img(src='images/video.png', alt='')
            
            
                
            

            
            