extends ../layouts/main.pug

block content
    .container
        nav(aria-label='breadcrumb')
            ol.breadcrumb
                li.breadcrumb-item
                    a(href='/home.html') Home
                li.breadcrumb-item
                    a(href='/home.html') Giới thiệu
                li.breadcrumb-item.active(aria-current='page')
                    a(href='#') Về Ecool
    .container.container--1020
        h1.text-center.title-about-ecool Giới thiệu về Ecool
        .row
            .col-md-12
                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
        .row.items-ecool
            .col-md-4.text-center
                img.img-item-ecool(src="images/ecool-1.png", alt="CÔNG NGHỆ HIỆN ĐẠI")
                p.text-center.upper-case.title-icon-ecool CÔNG NGHỆ HIỆN ĐẠI
            .col-md-4.text-center
                img.img-item-ecool(src="images/ecool-2.png", alt="THUẬN THEO THIÊN NHIÊN")
                p.text-center.upper-case.title-icon-ecool THUẬN THEO THIÊN NHIÊN
            .col-md-4.text-center
                img.img-item-ecool(src="images/ecool-3.png", alt="BỀN BỈ,Êm ÁI")
                p.text-center.upper-case.title-icon-ecool CÔNG NGHỆ HIỆN ĐẠI
        .row.items-post
            .col-md-12.text-center
                h2.text-center Câu chuyện thương hiệu
                h2.text-center eCool: Sống chuẩn tự nhiên
            .col-md-12.image-items-post
            p.content-img Chúng tôi tin rằng kiện sống tuyệt vời nhất là cuộc sống hài hòa và thuận theo những vận động của tự nhiên. Vì vậy chúng tôi nỗ lực nghiên cứu và phát triển để tạo ra một sản phẩm điều hòa đem đến môi trường sống phù hợp với thiên nhiên, khiến cho mỗi trường sống xung quanh bạn dễ chịu hơn, có thể cảm giận rõ ràng qua các giác quan cơ thểdiv
                p.content-img Để làm được điều này các chuyên gia của eCool sử dụng những thành quả mới nhất của các chuyên gia hàng đầu Nhật Bản trong lĩnh vực nghiên cứu và ứng dụng khoa học công nghệ tái tạo môi trường sống tự nhiên trong đô thị hiện đại.  Để làm được điều này các chuyên gia của eCool sử dụng những thành quả mới nhất của các chuyên gia hàng đầu Nhật Bản trong lĩnh vực nghiên cứu và ứng dụng khoa học công nghệ tái tạo môi trường sống tự nhiên trong đô thị hiện đại.
                p.content-img  Để làm được điều này các chuyên gia của eCool sử dụng những thành quả mới nhất của các chuyên gia hàng đầu Nhật Bản trong lĩnh vực nghiên cứu và ứng dụng khoa học công nghệ tái tạo môi trường sống tự nhiên trong đô thị hiện đại.
            img.img-item(src="images/banner5.png", alt="Banner")
        .row.items-product
            .col-12.text-center
                h1.text-center.title-product ĐẶC ĐIỂM DÒNG SẢN PHẨM
            .col-4.col-lg-4.col-xs-4
                .news__text
                
                h1 QUẠT GIÓ EDTEC
                p.fs-12 Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                .arrow
                    span.arrow__left
                        img(src='images/arrowleft.png')
                    span.arrow__right
                        img(src='images/arrowright.png')
            .col-8.col-lg-8.col-xs-8
                .news__banner
                    img(src='images/news.png', alt='')
            
            
                
            

            
            