extends ../layouts/main.pug


block content
    .container
        nav(aria-label='breadcrumb')
            ol.breadcrumb
                li.breadcrumb-item
                    a(href='/home.html') Home
                li.breadcrumb-item.active(aria-current='page')
                    a(href='#') Liên hệ
        h1.text-center.fs-60 Liên hệ eCool
        .row
            .col-12.company-info
                p.fs-16.text-center.company-name CÔNG TY CỔ PHẦN QUỐC TẾ SƠN HÀ
                p.text-center Lô CN1, Cụm công nghiệp Từ Liêm, P. Minh Khai, Q. Bắc Từ Liêm, Hà Nội
            .col-lg-3.col-12
            .col-lg-3.col-12.text-center
                span  
                    img(src='/images/iconmail-07.png') 
                    span   support@ecool.com.vn
            .col-lg-3.col-12.text-center
                span 
                    img(src='/images/iconphone-07.png') 
                    span    1800.6566
            .col-lg-3.col-12
            .col-md-12
                p.text-center ___________________________________
        form.form-contact.text-center(action="#")
            .row
                .col-lg-7.col-12
                    input.form-group.border-form-contact.form-control(type='text', placeholder='Họ tên')
                    input.form-group.border-form-contact.form-control(type='phone', placeholder='Số điện thoại')
                    input.form-group.border-form-contact.form-control(type='email', placeholder='Email')
                    textarea.form-group.border-textarea-contact.form-control(row='30')
                    .row
                    .col-lg-6.col-12
                    button.btn.btn-info.btn-contact(type='button') GỬI LIÊN HỆ
                .col-lg-5.col-12
                    .item-contact
                        p.text-center.name-item-contact HỆ THỐNG ĐẠI LÍ ECOOL
                        a.text-center(href="#") Chi tiết
                    .item-contact
                        p.text-center.name-item-contact CHÍNH SÁCH BẢO HÀNH ĐIỀU HÒA ECOOL
                        a.text-center(href="#") Chi tiết
                    .item-contact
                        p.text-center.name-item-contact HOTLINE 24/7 0966.666.999
                        a.text-center(href="#") Chi tiết
                
    iframe.map-contact(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29786.60214010603!2d105.72967043335746!3d21.059667202056662!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454e33407ecc7%3A0x6b9d843be64f7f06!2zTWluaCBLaGFpLCBC4bqvYyBU4burIExpw6ptLCBIw6AgTuG7mWksIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1577599643198!5m2!1svi!2s', frameborder='0', style='border:0;', allowfullscreen='')
