extends ../layouts/main.pug

block content
    #map
block scripts
    script(src="/js/my_map.js")
    script(async, defer, src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBevBjEKvEBR9dUzHvOP7TrW9niqq1IMo0&callback=initMap')
    