extends ../layouts/main.pug
block content
        .container
            .row
                .col-12
                    nav.fs-10.font-weight-light(aria-label='breadcrumb')
                        ol.breadcrumb
                            li.breadcrumb-item
                                a(href='/home.html') Home
                            li.breadcrumb-item
                                a(href='/home.html') Giới thiệu
                            li.breadcrumb-item.active(aria-current='page')
                                a(href='#') Điều hòa Inverter
        .container.container--691
            .row
                .col-lg-4.col-12.item-support
                    img(src="images/support.png", alt="")
                    p.text-center.support-title Hướng dẫn sử dụng
                    .row
                        .col-6.text-center
                            img.img-icon-left(src="images/seen.png", alt="")
                        .col-6.text-center
                            img.img-icon-right(src="images/download.png", alt="")
                .col-lg-4.col-12.item-support
                    img(src="images/support.png", alt="")
                    p.text-center.support-title Hướng dẫn sử dụng
                    .row
                        .col-6.text-center
                            img.img-icon-left(src="images/seen.png", alt="")
                        .col-6.text-center
                            img.img-icon-right(src="images/download.png", alt="")
                .col-lg-4.col-12.item-support
                    img(src="images/support.png", alt="")
                    p.text-center.support-title Hướng dẫn sử dụng
                    .row
                        .col-6.text-center
                            img.img-icon-left(src="images/seen.png", alt="")
                        .col-6.text-center
                            img.img-icon-right(src="images/download.png", alt="")
                .col-lg-4.col-12.item-support
                    img(src="images/support.png", alt="")
                    p.text-center.support-title Hướng dẫn sử dụng
                    .row
                        .col-6.text-center
                            img.img-icon-left(src="images/seen.png", alt="")
                        .col-6.text-center
                            img.img-icon-right(src="images/download.png", alt="")
                .col-lg-4.col-12.item-support
                    img(src="images/support.png", alt="")
                    p.text-center.support-title Hướng dẫn sử dụng
                    .row
                        .col-6.text-center
                            img.img-icon-left(src="images/seen.png", alt="")
                        .col-6.text-center
                            img.img-icon-right(src="images/download.png", alt="")
                .col-lg-4.col-12.item-support
                    img(src="images/support.png", alt="")
                    p.text-center.support-title Hướng dẫn sử dụng
                    .row
                        .col-6.text-center
                            img.img-icon-left(src="images/seen.png", alt="")
                        .col-6.text-center
                            img.img-icon-right(src="images/download.png", alt="")
                .col-12.text-center.mt-2.mb-5
                    a.fs-10.font-weight-light.text-center.see-all(href="#") Hiển thị thông tin nhiều hơn
                        img(src='images/arrowdown.png')


