extends ../layouts/main.pug
block content
    include ../partials/_slider_home.pug
    include ../partials/_portfolio_home.pug
    include ../partials/_product_tab_home.pug
    include ../partials/_video_home.pug
    include ../partials/_news_home.pug


