extends ../layouts/main.pug


block content
    section.slider
        .slider__item
            img(src='images/slide1.png')
            .container
                h2.text-white.fs-28 Điều hòa inverter