extends ../layouts/main.pug

block content
    img.img-news(src="images/productbanner.png", alt="Sơn Hà")
    .container.container--860
        .row.menu-sub-news.text-center
            .col-3.menu-sub-news-title-active
                a(href="#")
                    p.menu-sub-news-title Tin tức và sự kiện
            .col-3
                a(href="#")
                    p.menu-sub-news-title Góc tư vấn
            .col-3
                a(href="#")
                    p.menu-sub-news-title Chương trình ưu đãi
            .col-3
                a(href="#")
                    p.menu-sub-news-title Video
        .container.container--860
            .row.news-header
                .col-7
                    
                .col-5
                    .row.item-news-header
                        .col-5
                            img.img-header(src="images/news.png", alt="")
                        .col-7
                            span.type-news Tư Vấn
                            br
                            strong
                                span.title-news Chọn dòng công suất nào cho phòng nhà bạn
                            br
                            span.type-news 26/12/2019
                    .row.item-news-header
                        .col-5
                            img.img-header(src="images/news.png", alt="")
                        .col-7
                            span.type-news Tư Vấn
                            br
                            strong
                                span.title-news Chọn dòng công suất nào cho phòng nhà bạn
                            br
                            span.type-news 26/12/2019
                    .row.item-news-header
                        .col-5
                            img.img-header(src="images/news.png", alt="")
                        .col-7
                            span.type-news Tư Vấn
                            br
                            strong
                                span.title-news Chọn dòng công suất nào cho phòng nhà bạn
                            br
                            span.type-news 26/12/2019
    .news-event
        .container.container--860  
            .row
                .col-12
                    h3.title-news-event Tin tức và sự kiện         
            .row
                .col-4.items-news-event
                    img(src="images/news.png", alt="")
                    strong
                        p.name-news-event Show room eCool tại Long Biên
                    p.short-description-news Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                .col-4.items-news-event
                    img(src="images/news.png", alt="")
                    strong
                        p.name-news-event Show room eCool tại Long Biên
                    p.short-description-news Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                .col-4.items-news-event
                    img(src="images/news.png", alt="")
                    strong
                        p.name-news-event Show room eCool tại Long Biên
                    p.short-description-news Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                .col-4.items-news-event
                    img(src="images/news.png", alt="")
                    strong
                        p.name-news-event Show room eCool tại Long Biên
                    p.short-description-news Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                .col-4.items-news-event
                    img(src="images/news.png", alt="")
                    strong
                        p.name-news-event Show room eCool tại Long Biên
                    p.short-description-news Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                .col-4.items-news-event
                    img(src="images/news.png", alt="")
                    strong
                        p.name-news-event Show room eCool tại Long Biên
                    p.short-description-news Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                .col-md-12.text-center
                    a.text-center.see-all(href="#") Xem tất cả
                

