extends ../layouts/main.pug

block content
    .ecool-news
        .position-relative
            img.w-100(src="images/banner-news.png", alt="Sơn Hà")
            .container
                .row.menu-sub-news.text-center
                    .col-6.col-lg-3.p-0
                        a(href="#")
                            p.fs-16.font-weight-medium.menu-sub-news-title.active Tin tức và sự kiện
                    .col-6.col-lg-3.p-0
                        a(href="#")
                            p.fs-16.font-weight-medium.menu-sub-news-title Góc tư vấn
                    .col-6.col-lg-3.p-0
                        a(href="#")
                            p.fs-16.font-weight-medium.menu-sub-news-title Chương trình ưu đãi
                    .col-6.col-lg-3.p-0
                        a(href="#")
                            p.fs-16.font-weight-medium.menu-sub-news-title Video
        .container.container--860
            .row.news-header
                .col-12.col-lg-7.pr-lg-0.position-relative
                    .news__slides
                        .news__slide.position-relative
                            a(href='#')
                                img.w-100.slide-header-news(src='images/slide-news.png')
                                .news__content.position-absolute
                                    p.news__tag.fs-10.text-white.font-weight-medium
                                        | Sự kiện
                                    h2.text-white.fs-18.font-weight-bold
                                        | Dự án điều hòa eCool đã được ký kết thành công với đối tác Thái Lan
                                    p.news__date.fs-8.text-white.font-weight-medium
                                        | 26/12/2019
                                    a(href='#').news__link.fs-8.text-white.font-weight-bold
                                        | Chi tiết
                                        img.arrow-icon(src='images/arrowicon.png')
                        .news__slide.position-relative
                            a(href='#')
                                img.w-100.slide-header-news(src='images/slide-news.png')
                                .news__content.position-absolute
                                    p.news__tag.fs-10.text-white.font-weight-medium
                                        | Sự kiện
                                    h2.text-white.fs-18.font-weight-bold
                                        | Dự án điều hòa eCool đã được ký kết thành công với đối tác Thái Lan
                                    p.news__date.fs-8.text-white.font-weight-medium
                                        | 26/12/2019
                                    a(href='#').news__link.fs-8.text-white.font-weight-bold
                                        | Chi tiết
                                        img.arrow-icon(src='images/arrowicon.png')
                        .news__slide.position-relative
                            a(href='#')
                                img.w-100.slide-header-news(src='images/slide-news.png')
                                .news__content.position-absolute
                                    p.news__tag.fs-10.text-white.font-weight-medium
                                        | Sự kiện
                                    h2.text-white.fs-18.font-weight-bold
                                        | Dự án điều hòa eCool đã được ký kết thành công với đối tác Thái Lan
                                    p.news__date.fs-8.text-white.font-weight-medium
                                        | 26/12/2019
                                    a(href='#').news__link.fs-8.text-white.font-weight-bold
                                        | Chi tiết
                                        img.arrow-icon(src='images/arrowicon.png')
                    .news__slide-arrow-left
                        img(src='images/white-arrow-left.png')
                    .news__slide-arrow-right
                        img(src='images/white-arrow-right.png')
                .col-12.col-lg-5
                    .row.item-news-header
                        .col-6
                            a(href='#')
                                img.img-header(src="images/item-05.jpg", alt="")
                        .col-6
                            span.fs-8 Tư Vấn
                            br
                            strong
                                a(href='#').title-news Chọn dòng công suất nào cho phòng nhà bạn
                            br
                            span.fs-8 26/12/2019
                    .row.item-news-header
                        .col-6
                            a(href='#')
                                img.img-header(src="images/item-07.jpg", alt="")
                        .col-6
                            span.fs-8 Tư Vấn
                            br
                            strong
                                a(href='#').title-news Chọn dòng công suất nào cho phòng nhà bạn
                            br
                            span.fs-8 26/12/2019
                    .row.item-news-header
                        .col-6
                            a(href='#')
                                img.img-header(src="images/item-05.jpg", alt="")
                        .col-6
                            span.fs-8 Tư Vấn
                            br
                            strong
                                a(href='#').title-news Chọn dòng công suất nào cho phòng nhà bạn
                            br
                            span.fs-8 26/12/2019
        .news-event
            .container.container--860
                .row
                    .col-12
                        h3.title-news-event Tin tức và sự kiện
                .row.row-news-event
                    .col-12.col-lg-4
                        a(href='#')
                            .items-news-event
                                img.w-100(src="images/item-01.jpg", alt="")
                                h3.name-news-event.fs-12.font-weight-bold Show room eCool tại Long Biên
                                p.fs-9.short-description-news Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    .col-12.col-lg-4
                        a(href='#')
                            .items-news-event
                                img.w-100(src="images/item-02.jpg", alt="")
                                h3.name-news-event.fs-12.font-weight-bold Hệ thống Đại lý bán điều hòa eCool tại Bình Dương
                                p.fs-9.short-description-news Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    .col-12.col-lg-4
                        a(href='#')
                            .items-news-event
                                img.w-100(src="images/item-03.jpg", alt="")
                                h3.name-news-event.fs-12.font-weight-bold ECool thưởng nóng 2 tỷ cho ĐT U22 Việt Nam nếu vô địch SEA Games 30
                                p.fs-9.short-description-news Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    .col-12.col-lg-4
                        a(href='#')
                            .items-news-event
                                img.w-100(src="images/item-04.jpg", alt="")
                                h3.name-news-event.fs-12.font-weight-bold App điều khiển eCool wifi tiện dụng cực kỳ luôn
                                p.fs-9.short-description-news Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    .col-12.col-lg-4
                        a(href='#')
                            .items-news-event
                                img.w-100(src="images/item-01.jpg", alt="")
                                h3.name-news-event.fs-12.font-weight-bold Show room eCool tại Long Biên
                                p.fs-9.short-description-news Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    .col-12.col-lg-4
                        a(href='#')
                            .items-news-event
                                img.w-100(src="images/item-02.jpg", alt="")
                                h3.name-news-event.fs-12.font-weight-bold Hệ thống Đại lý bán điều hòa eCool tại Bình Dương
                                p.fs-9.short-description-news Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    .col-12.text-center.mt-2.mb-5
                        a.fs-10.font-weight-light.text-center.see-all(href="#") Xem tất cả
                            img(src='images/arrowdown.png')


