extends ../layouts/main.pug


block content
    .container 
         p Home /  Tin tức  /  Góc tư vấn  /  ECool wifi và lưu ý sử dụng 
    .container.container--768
        .row
            .col-12.text-center.news-title
                h1 ECool wifi và lưu ý sử dụng 
            .col-12.text-center.news-social
                .row
                    .col-3
                    .col-6.text-center
                    section.social-news-detail
                        img.social__icon(src='images/facebook.png')
                        img.social__icon(src='images/messenger.png')
                    .col-3
            .col-12
                p.news-description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.

                p.news-detail Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged

                p.new-detail Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s

                p.news-detail Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged

                img.image-news-detail(src="images/portfolio2.png", alt="ECool wifi và lưu ý sử dụng")

                p.description-image Lorem Ipsum is simply dummy text of the printing and typesetting industry. 

                p.news-detail Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged

                p.new-detail Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s

                p.news-detail Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged


                span.date-create-news-detail 30/12/2019