extends ../layouts/main.pug

block content  
    .background-color
        .container
            .row.begin-products-list
                    .col-6
                        img(src="images/product.png", alt="")
                    .col-6.text-center
                        h1.text-center INVERTER
                        h1.text-center Tiết kiệm điện tiêu chuẩn châu Âu
    .container.container--1020
        .row
            .col-12
                form.form-search-system.text-center(action="#")
                input.input-search-system.form-group.border-form-system.form-control(type='text', placeholder='Tìm điều hòa')
                button.btn-search-system(type='submit')
                    img.img-btn-search(src='images/search.png')
            p.bread-crumb  Home  /   Sản phẩm   /    Điều hòa Inverter
        .row
            .col-12.products-list-info
                h1.text-center.title-product-list ĐIỀU HÒA INVERTER COOL
                p.text-center.description-products-list Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        .row
            .col-4
                p.result 9 kết quả
            .col-4
                .row
                    .col-4.text-center
                        select.form-control
                            option Giá
                            option(value=0) Option 1
                            option(value=1) Option 2
                            option(value=2) Option 3
                    .col-4.text-center
                        select.form-control
                            option Công suất
                            option(value=0) Option 1
                            option(value=1) Option 2
                            option(value=2) Option 3
                    .col-4.text-center
                        select.form-control
                            option Khác
                            option(value=0) Option 1
                            option(value=1) Option 2
                            option(value=2) Option 3
            .col-4
                select.form-control
                    option Sắp xếp theo
                    option(value=0) Option 1
                    option(value=1) Option 2
                    option(value=2) Option 3
        .row.products
            .col-4.col-xs-12.item-product
                img.img-item-product(src="images/product.png", alt="") 
                .text-center
                    .info-product
                        h5.text-center Điều hòa eCool INV2378
                        p.text-center.price-product 6.580.000 đ
                        p.text-center.item-des  Điều hòa tiết kiệm điện
                    a.text-center(href="#")
                        .btn.btn--product.fs-12 Chi tiết sản phẩm
            .col-4.col-xs-12.tem-product
                img.img-item-product(src="images/product.png", alt="") 
                .text-center
                    .info-product
                        h5.text-center Điều hòa eCool INV2378
                        p.text-center.price-product 6.580.000 đ
                        p.text-center.item-des  Điều hòa tiết kiệm điện
                    a.text-center(href="#")
                        .btn.btn--product.fs-12 Chi tiết sản phẩm
            .col-4.col-xs-12.item-product
                img.img-item-product(src="images/product.png", alt="") 
                .text-center
                    .info-product
                        h5.text-center Điều hòa eCool INV2378
                        p.text-center.price-product 6.580.000 đ
                        p.text-center.item-des  Điều hòa tiết kiệm điện
                    a.text-center(href="#")
                        .btn.btn--product.fs-12 Chi tiết sản phẩm
            .col-4.col-xs-12.item-product
                img.img-item-product(src="images/product.png", alt="") 
                .text-center
                    .info-product
                        h5.text-center Điều hòa eCool INV2378
                        p.text-center.price-product 6.580.000 đ
                        p.text-center.item-des  Điều hòa tiết kiệm điện
                    a.text-center(href="#")
                        .btn.btn--product.fs-12 Chi tiết sản phẩm
            .col-4.col-xs-12.item-product
                img.img-item-product(src="images/product.png", alt="") 
                .text-center
                    .info-product
                        h5.text-center Điều hòa eCool INV2378
                        p.text-center.price-product 6.580.000 đ
                        p.text-center.item-des  Điều hòa tiết kiệm điện
                    a.text-center(href="#")
                        .btn.btn--product.fs-12 Chi tiết sản phẩm
            .col-4.col-xs-12.item-product
                img.img-item-product(src="images/product.png", alt="") 
                .text-center
                    .info-product
                        h5.text-center Điều hòa eCool INV2378
                        p.text-center.price-product 6.580.000 đ
                        p.text-center.item-des  Điều hòa tiết kiệm điện
                    a.text-center(href="#")
                        .btn.btn--product.fs-12 Chi tiết sản phẩm
            .col-4.col-xs-12.item-product
                img.img-item-product(src="images/product.png", alt="") 
                .text-center
                    .info-product
                        h5.text-center Điều hòa eCool INV2378
                        p.text-center.price-product 6.580.000 đ
                        p.text-center.item-des  Điều hòa tiết kiệm điện
                    a.text-center(href="#")
                        .btn.btn--product.fs-12 Chi tiết sản phẩm
            .col-4.col-xs-12.item-product
                img.img-item-product(src="images/product.png", alt="") 
                .text-center
                    .info-product
                        h5.text-center Điều hòa eCool INV2378
                        p.text-center.price-product 6.580.000 đ
                        p.text-center.item-des  Điều hòa tiết kiệm điện
                    a.text-center(href="#")
                        .btn.btn--product.fs-12 Chi tiết sản phẩm
            .col-4.col-xs-12.item-product
                img.img-item-product(src="images/product.png", alt="") 
                .text-center
                    .info-product
                        h5.text-center Điều hòa eCool INV2378
                        p.text-center.price-product 6.580.000 đ
                        p.text-center.item-des  Điều hòa tiết kiệm điện
                    a.text-center(href="#")
                        .btn.btn--product.fs-12 Chi tiết sản phẩm
            row.col-md-12.text-center.see-more-product
                a.multiple-product.text-center(href="#") Xem nhiều sản phẩm hơn
            .product-highlight
    include ../partials/_news_home.pug
    .container.container--1020.products-seen
        .row
            .col-12.text-center.title-products-seen
                h1.text-center CÁC SẢN PHẨM ĐÃ XEM
        .row.products
            .col-4.item-product
                img.img-item-product(src="images/product.png", alt="") 
                .text-center
                    h5.text-center Điều hòa inverter
                    strong.text-center.item-des  3.260.000đ
            .col-4.item-product
                img.img-item-product(src="images/product.png", alt="") 
                .text-center
                    h5.text-center Điều hòa inverter
                    strong.text-center.item-des  3.260.000đ
            .col-4.item-product
                img.img-item-product(src="images/product.png", alt="") 
                .text-center
                    h5.text-center Điều hòa inverter
                    strong.text-center.item-des  3.260.000đ
                    
        
        
            
        

            
        
