extends ../layouts/main.pug

block content
    .container
        nav(aria-label='breadcrumb')
            ol.breadcrumb
                li.breadcrumb-item
                    a(href='/home.html') Home
                li.breadcrumb-item.active(aria-current='page')
                    a(href='#') Sản phẩm
    .container.container--1020
        .row
            .col-12 
                h1.title-products.text-center ĐIỀU HÒA ECOOL
                p.description-products Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged
            .col-12.images-products
                img(src="images/products.png", alt="")

        .row.link-products-list
            .col-12
                 h1.text-center.products-title LỰA CHỌN MÁY ĐIỀU HÒA
            .col-12.text-center
                a.text-center(href="#") XEM TẤT CẢ MÁY ĐIỀU HÒA >
        .row.products
            .col-lg-3.col-12.item-product
                img.img-item-product(src="images/product.png", alt="") 
                .text-center
                    h5.text-center Điều hòa inverter
                    p.text-center.item-des  Điều hòa tiết kiệm điện
                    a.text-center(href="#")
                        .btn.btn--product.fs-12 Chi tiết sản phẩm
            .col-lg-3.col-12.item-product
                img.img-item-product(src="images/product.png", alt="") 
                .text-center
                    h5.text-center Điều hòa inverter
                    p.text-center.item-des  Điều hòa tiết kiệm điện
                    a.text-center(href="#")
                        .btn.btn--product.fs-12 Chi tiết sản phẩm
            .col-lg-3.col-12.item-product
                img.img-item-product(src="images/product.png", alt="") 
                .text-center
                    h5.text-center Điều hòa inverter
                    p.text-center.item-des  Điều hòa tiết kiệm điện
                    a.text-center(href="#")
                        .btn.btn--product.fs-12 Chi tiết sản phẩm
            .col-lg-3.col-12.item-product
                img.img-item-product(src="images/product.png", alt="") 
                .text-center
                    h5.text-center Điều hòa inverter
                    p.text-center.item-des  Điều hòa tiết kiệm điện
                    a.text-center(href="#")
                        .btn.btn--product.fs-12 Chi tiết sản phẩm
        .row.my-services
            .col-12.text-center.title-service
                h1.text-center DỊCH VỤ CỦA CHÚNG TÔI
                h5.text-center Cảm kết lắp đặt, bảo hành
        .row.service-item
            .col-lg-4.col-12.text-center.item-service-products
                img.img-service(src="images/service-1.png", alt="")
                h5.text-center.name-service-products Tài chính
                p.text-center Lorem Ipsum is simply dummy text of the printing and typesetting industry.ever since the 1500s.
                a.text-center(href="#") Chi tiết
            .col-lg-4.col-12.text-center.item-service-products
                img.img-service(src="images/service-2.png", alt="")
                h5.text-center.name-service-products Tài chính
                p.text-center Lorem Ipsum is simply dummy text of the printing and typesetting industry.ever since the 1500s.
                a.text-center(href="#") Chi tiết
            .col-lg-4.col-12.text-center.item-service-products
                img.img-service(src="images/service-3.png", alt="")
                h5.text-center.name-service-products Tài chính
                p.text-center Lorem Ipsum is simply dummy text of the printing and typesetting industry.ever since the 1500s.
                a.text-center(href="#") Chi tiết
        .row.application
            .col-lg-6.col-12.text-center
                h2.text-center ỨNG DỤNG ĐIỀU KHIỂN WIFI
                h1.text-center ECOOL APP
                p.text-center Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                a(href="#") Tìm hiểu thêm
            .col-lg-6.col-6
                img(src="images/application-2.png", alt="")
            .col-lg-6.col-6
                img(src="images/application-1.png", alt="")
        .row.using
            .col-12.text-center.title-using
                h1.text-center CÁCH SỬ DỤNG
            .col-lg-6.col-12.text-center
                img(src="images/videoy.png", alt="")
                h5.text-center ỨNG DỤNG ĐIỀU KHIỂN WIFI
                p.text-center Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
            .col-lg-6.col-12.text-center
                img(src="images/videoy.png", alt="")
                h5.text-center ỨNG DỤNG ĐIỀU KHIỂN WIFI
                p.text-center Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
            
            

