extends ../layouts/main.pug
block styles
    link(href='css/pages/product-detail.css', rel='stylesheet', type='text/css')

block content
    .product-detail
        .container 
            nav(aria-label='breadcrumb')
                ol.breadcrumb
                    li.breadcrumb-item
                        a(href='/home.html') Home
                    li.breadcrumb-item
                        a(href='/home.html') Sản phẩm
                    li.breadcrumb-item
                        a(href='/home.html') Điều hoà inventer
                    li.breadcrumb-item.active(aria-current='page')
                        a(href='#') Điều hoà inventer INV 3789
        main.main
            .shop-container.container
                .product-main
                    .row
                        .col-lg-8.product-image
                            .row.flex-lg-row-reverse
                                .col-lg-10
                                    .product-gallery
                                        .slide-item
                                            img(src='images/product_detail/ic-07.png')
                                        .slide-item
                                            img(src='images/product_detail/ic-07.png')
                                        .slide-item
                                            img(src='images/product_detail/ic-07.png')
                                        .slide-item
                                            img(src='images/product_detail/ic-07.png')
                                .col-lg-2
                                    .product-thumbnails
                                        a.text-center
                                            img(src="images/product_detail/ic-08.png")
                                        a.text-center
                                            img(src="images/product_detail/ic-09.png")
                                        a.text-center
                                            img(src="images/product_detail/ic-10.png")
                                        a.text-center
                                            img(src="images/product_detail/ic-11.png")
                                
                                        
                        .col-lg-4.product-info
                            h1.product-title Điều hòa eCool INTERTER INV3789
                            p.sku INV3789
                            .product-short-description
                                ul
                                    li Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                                    li Sed diam nonummy nibh euismod tincidunt ut laoreet
                                    li Dolore magna aliquam erat volutpat
                            .variations
                                .variations__item
                                    span.label Công suất
                                    .value
                                        label.kt-checkbox
                                            input(type='checkbox')
                                            |  9000 Btu
                                            span


                            .price-wrapper.mt-4.mb-3
                                a.product-btn.price
                                    span.amount 6.850.000 đ
                            .product-contact
                                a.product-btn Liên hệ
                            .product-map.mt-4.text-center
                                img.img-map(src="images/product_detail/ic-43.png", style="height:20px;margin-right: 10px;")
                                span Mua ở đâu
                .product-footer
                    .product-tabs
                        ul#myTab.nav.nav-tabs.d-flex.justify-content-between(role='tablist')
                            li.nav-item
                                a#home-tab.nav-link.active(data-toggle='tab', href='#home', role='tab', aria-controls='home', aria-selected='true') Giới thiệu
                            li.nav-item
                                a#profile-tab.nav-link(data-toggle='tab', href='#profile', role='tab', aria-controls='profile', aria-selected='false') Thông số kỹ thuật
                            li.nav-item
                                a#profile-tab.nav-link(data-toggle='tab', href='#profile', role='tab', aria-controls='profile', aria-selected='false') Tính năng ưu việt
                            li.nav-item
                                a#contact-tab.nav-link(data-toggle='tab', href='#contact', role='tab', aria-controls='contact', aria-selected='false') Chứng nhận chất lượng
                            li.nav-item
                                a#contact-tab.nav-link(data-toggle='tab', href='#contact', role='tab', aria-controls='contact', aria-selected='false') Hỗ trợ
                        #myTabContent.tab-content
                            #home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='home-tab')
                                h2.product-title Điều hòa eCool INTERTER INV3789
                                p.sku INV3789
                                div 
                                    p   Giữ cho không khí trong lành và sạch khuẩn với hệ thống Màng Lọc Nhiều Lớp. Màng lọc Than Hoạt Tính giúp khử mùi và loại bỏ nhanh chóng các khí độc hại*. Lớp lọc HEPA có khả năng lọc đến 99.97% hạt bụi siêu mịn** và diệt vi khuẩn*** trong không khí.
                                .row.mt-5.mb-5.product-featured
                                    .col-sm
                                        img(src="images/product_detail/ic-12.png")
                                        h3.mt-4 Công nghệ hiện đại
                                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
                                    .col-sm
                                        img(src="images/product_detail/ic-13.png")
                                        h3.mt-4 Thân thiện môi trường
                                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
                                    .col-sm
                                        img(src="images/product_detail/ic-14.png")
                                        h3.mt-4 Điều khiển bằng app
                                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
                                .slide.pt-5
                                    .slide-featured-product
                                        .slide-item
                                            img(src='images/product_detail/ic-15.png')
                                        .slide-item
                                            img(src='images/product_detail/ic-15.png')
                                    .slide-featured-product-thumbnails.mt-3
                                        .slide-item
                                            img(src='images/product_detail/ic-16.png')
                                        .slide-item
                                            img(src='images/product_detail/ic-17.png')
                                        .slide-item
                                            img(src='images/product_detail/ic-18.png')
                                        .slide-item
                                            img(src='images/product_detail/ic-19.png')
                                        .slide-item
                                            img(src='images/product_detail/ic-20.png')
                                        .slide-item
                                            img(src='images/product_detail/ic-21.png')
                                .product-attribute-specs-table
                                    h3 Thông số kỹ thuật
                                    .row.specs__content
                                        .item-spect.bd-right.col
                                            h4.highlight 39m2
                                            span Dung tích (m2)
                                        .item-spect.bd-right.col
                                            h4.highlight 45 dBA
                                            span Độ ồn (dBA)
                                        .item-spect.col-lg-6
                                            h4.highlight 361 x 481 x 236 mm
                                            span Kích thước thực tế (mm x mm x mm)
                                    div.text-center.pt-5
                                        a.btn-showmore Hiển thị tất cả thông số kỹ thuật
                                h3.product-title ĐIỀU HÒA ECOOL
                                p.product-description Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at 
                                .row.feautred
                                    .col-lg-4
                                        .item_feautred
                                            img.img-fluid.d-block.mx-auto(src="./images/product_detail/ic-22.png")
                                            h3.item__title.text-center
                                                span.d-block Công nghệ Digital 
                                                span.d-block Inverter 8 cực 
                                            .item__description.text-center Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad
                                        .item_feautred.mt-5
                                            img.img-fluid.d-block.mx-auto(src="./images/product_detail/ic-23.png")
                                            h3.item__title.text-center
                                                span.d-block Công nghệ làm mát 
                                                span.d-block Wind-free
                                            .item__description.text-center Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad
                                    .col-lg-4.d-none.d-lg-block
                                        img.img-fluid.d-block.mx-auto(src="./images/product_detail/ic-25.png")
                                    .col-lg-4
                                        .item_feautred
                                            img.img-fluid.d-block.mx-auto(src="./images/product_detail/ic-24.png")
                                            h3.item__title.text-center
                                                span Chế độ ngủ ngon
                                            .item__description.text-center Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad
                                        .item_feautred.mt-5
                                            img.img-fluid.d-block.mx-auto(src="./images/product_detail/ic-23.png")
                                            h3.item__title.text-center
                                                span Easy Filter plus
                                            .item__description.text-center Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad
                                .row.product-video.mt-5
                                    .col-lg-6.item_video
                                        .item_video__content
                                            img.w-100(src="./images/product_detail/ic-26.png")
                                        .item_video__title.text-center.mt-4 
                                            h4 HƯỚNG DẪN SỬ DỤNG VÀ CÀI ĐẶT
                                    .col-lg-6.item_video
                                        .item_video__content
                                            img.w-100(src="./images/product_detail/ic-26.png")
                                        .item_video__title.text-center.mt-4
                                            h4 HƯỚNG DẪN VỆ SINH MÀNG LỌC
                                .row.product-support
                                    .col-lg-6
                                        .item_support.item_support_1
                                            .item_support__content
                                                | Cách xử lý tình trạng máy điều hòa rỉ nước
                                            a(href="/product-detail.html").link-sp XEM CÂU TRẢ LỜI
                                    .col-lg-6
                                        .item_support.item_support_2
                                            .item_support__content
                                                | Điều khiển từ xa của máy điều hòa không hoạt động
                                            a(href="/product-detail.html").link-sp XEM CÂU TRẢ LỜI
                                .view-more-sp.text-center
                                    a(href="/product-detail.html").btn-link-sp Hiển thị tất cả hỗ trợ
                            #profile.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab') ...

                    .product-viewed
                        h3.product-section-title Các sản phẩm đã xem
                        .list-product.d-flex.justify-content-center.row
                            .col-lg-3.product-viewed__item
                                .item-product__image
                                    img.img-fluid.d-block.mx-auto(src="./images/product_detail/ic-27.png")
                                .item-product__detail
                                    h3 Inverter eCool INV 3489
                                    span.featured 9000 Btu
                                    h4.item-product__price 3.260.000đ
                            .col-lg-3.product-viewed__item
                                .item-product__image
                                    img.img-fluid.d-block.mx-auto(src="./images/product_detail/ic-27.png")
                                .item-product__detail
                                    h3 Inverter eCool INV 3489
                                    span.featured 9000 Btu
                                    h4.item-product__price 3.260.000đ
                            .col-lg-3.product-viewed__item
                                .item-product__image
                                    img.img-fluid.d-block.mx-auto(src="./images/product_detail/ic-27.png")
                                .item-product__detail
                                    h3 Inverter eCool INV 3489
                                    span.featured 9000 Btu
                                    h4.item-product__price 3.260.000đ
