extends ../layouts/main.pug

block content
    img.img-news(src="images/productbanner.png", alt="Sơn Hà")
    .container.container--860
        .row.menu-sub-news.text-center
            .col-3.menu-sub-news-title-active
                a(href="#")
                    p.menu-sub-news-title Tin tức và sự kiện
            .col-3
                a(href="#")
                    p.menu-sub-news-title Góc tư vấn
            .col-3
                a(href="#")
                    p.menu-sub-news-title Chương trình ưu đãi
            .col-3
                a(href="#")
                    p.menu-sub-news-title Video
    .container.container--860
        .row.sale-header
            .col-7
              img.img-sale(src="images/news-4.png", alt="Sơn Hà")
            .col-5
                .sale-header-title
                    h3 Ưu đãi cực khủng
                    h3 Mua điều hòa eCool giảm giá 50%
                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
        .row.sale-item
            .col-4
              img.img-sale-item(src="images/news-4.png", alt="Sơn Hà")
            .col-8
                h5.name-item-sale Chương trình khuyến mãi ecool miền Bắc
                p 26/12/2019
                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
        .row.sale-item
            .col-4
              img.img-sale-item(src="images/news-4.png", alt="Sơn Hà")
            .col-8
                h5.name-item-sale Chương trình khuyến mãi ecool miền Bắc
                p 26/12/2019
                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
        .row.sale-item
            .col-4
              img.img-sale-item(src="images/news-4.png", alt="Sơn Hà")
            .col-8
                h5.name-item-sale Chương trình khuyến mãi ecool miền Bắc
                p 26/12/2019
                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
        .row.see-more
            .col-12.text-center
                a.see-more-sale(href="#") Xem thêm
