extends ../layouts/main.pug

block content
    .ecool-sale
        .position-relative
            img.w-100(src="images/banner-news.png", alt="Sơn Hà")
            .container
                .row.menu-sub-news.text-center
                    .col-6.col-lg-3.p-0
                        a(href="#")
                            p.fs-16.font-weight-medium.menu-sub-news-title Tin tức và sự kiện
                    .col-6.col-lg-3.p-0
                        a(href="#")
                            p.fs-16.font-weight-medium.menu-sub-news-title Góc tư vấn
                    .col-6.col-lg-3.p-0
                        a(href="#")
                            p.fs-16.font-weight-medium.menu-sub-news-title.active  Chương trình ưu đãi
                    .col-6.col-lg-3.p-0
                        a(href="#")
                            p.fs-16.font-weight-medium.menu-sub-news-title  Video
        .container.container--860
            .row.sale-header
                .col-lg-7.col-12
                  img.w-100.img-sale(src="images/item-08.jpg", alt="Sơn Hà")
                .col-lg-5.col-12
                    .sale-header-title
                        h3.fs-18.font-weight-bold
                            | Ưu đãi cực khủng
                            br
                            | Mua điều hòa eCool giảm giá 50%
                    p.fs-10.des-sale-header Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
            .sale-item
                .row
                    .col-lg-4.col-12
                      img.w-100.img-sale-item(src="images/item-09.jpg", alt="Sơn Hà")
                    .col-lg-8.col-12
                        h5.name-item-sale.fs-12 Chương trình khuyến mãi ecool miền Bắc
                        p.fs-10   26/12/2019
                        p.fs-10 Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.
            .sale-item
                .row
                    .col-lg-4.col-12
                      img.w-100.img-sale-item(src="images/item-09.jpg", alt="Sơn Hà")
                    .col-lg-8.col-12
                        h5.name-item-sale.fs-12 Chương trình khuyến mãi ecool miền Bắc
                        p.fs-10   26/12/2019
                        p.fs-10 Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.
            .sale-item
                .row
                    .col-lg-4.col-12
                      img.w-100.img-sale-item(src="images/item-09.jpg", alt="Sơn Hà")
                    .col-lg-8.col-12
                        h5.name-item-sale.fs-12 Chương trình khuyến mãi ecool miền Bắc
                        p.fs-10   26/12/2019
                        p.fs-10 Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.
            .row
                .col-12.text-center.mt-3.mb-5.pb-4
                    a.bg-gray.fs-10.font-weight-light.text-center.see-all(href="#") Xem thêm
                        img(src='images/arrowdown.png')
