extends ../layouts/main.pug
block styles
    link(href='css/pages/supports.css', rel='stylesheet', type='text/css')
block content
    .page-support
        .header.container
            nav.fs-10.font-weight-light(aria-label='breadcrumb')
                ol.breadcrumb
                    li.breadcrumb-item
                        a(href='/home.html') Home
                    li.breadcrumb-item.active(aria-current='page')
                        a(href='#') Hỗ trợ
        main.main
            .container
                .banner(style="background-image:url('./images/support/ic-29.png')")
                    .banner__content
                        h3 Chúng tôi có thể hỗ trợ gì cho bạn?
                        .input-group.form-sm.pt-3
                            input.form-control.my-0.py-1.lime-border(type='text', placeholder='Search', aria-label='Search')
                            .input-group-append
                                span.input-group-text.lime.lighten-2
                                i.fas.fa-search.text-grey(aria-hidden='true')
                        span Tại sao điều hòa không lạnh?
            .container
                .block_1
                    .row
                        .col-4.item-sp
                            .item-sp__image
                                img(src="images/support/ic-30.png")
                            .item-sp__description
                                h3 Trợ giúp cho sản phẩm của bạn
                                a.view-more Tìm hiểu thêm
                        .col.item-sp
                            .item-sp__image
                                img(src="images/support/ic-31.png")
                            .item-sp__description
                                h3 Tải xuống tài liệu hướng dẫn và lắp đặt
                                a.view-more Tìm hiểu thêm
                        .col.item-sp
                            .item-sp__image
                                img(src="images/support/ic-32.png")
                            .item-sp__description
                                h3 Mua điều hòa eCool ở đâu
                                a.view-more Tìm hiểu thêm
            .block_2
                .container
                    .row
                        .col
                            h2.block_heading.text-center Tìm thông tin bổ sung
                    .row
                        .col
                            .item-more.d-flex.justify-content-between
                                .item-more__description
                                    h4 Bảo hành
                                    span Kiểm tra bảo hành của sản phẩm
                                    a.view-more Tìm hiểu thêm
                                .item-more__image
                                    img(src="images/support/ic-34.png")
                            .item-more
                                .item-more__description
                                    h4 Tin tức và cảnh báo
                                    span Thông báo quan trọng về sản phẩm
                                    a.view-more Tìm hiểu thêm
                                .item-more__image
                                    img(src="images/support/ic-36.png")
                            .item-more
                                .item-more__description
                                    h4 Các câu hỏi thường gặp
                                    span Tìm hiểu các vấn đề có thể gặp phải và cách khắc phục
                                    a.view-more Tìm hiểu thêm
                                .item-more__image
                                    img(src="images/support/ic-38.png")
                            .item-more
                                .item-more__description
                                    h4 Hướng dẫn lắp đặt
                                    span Hướng dẫn lắp đặt máy điều hòa
                                    a.view-more Tìm hiểu thêm
                                .item-more__image
                                    img(src="images/support/ic-40.png")
                        .col
                            .item-more
                                .item-more__description
                                    h4 Bảo hành
                                    span Kiểm tra bảo hành của sản phẩm
                                    a.view-more Tìm hiểu thêm
                                .item-more__image
                                    img(src="images/support/ic-35.png")
                            .item-more
                                .item-more__description
                                    h4 Ứng dụng App điều khiển
                                    span Hướng dẫn sử dụng app mobile cho Ecool App
                                    a.view-more Tìm hiểu thêm
                                .item-more__image
                                    img(src="images/support/ic-37.png")
                            .item-more
                                .item-more__description
                                    h4 Chương trình khuyến mại
                                    span Tham khảo các chương trình ưu đãi hiện có chính hãng
                                    a.view-more Tìm hiểu thêm
                                .item-more__image
                                    img(src="images/support/ic-39.png")
                            .item-more
                                .item-more__description
                                    h4 Hướng dẫn vệ sinh
                                    a.view-more Tìm hiểu thêm
                                .item-more__image
                                    img(src="images/support/ic-41.png")