extends ../layouts/main.pug
block content
    .container 
        nav(aria-label='breadcrumb')
            ol.breadcrumb
                li.breadcrumb-item
                    a(href='/home.html') Home
                li.breadcrumb-item.active(aria-current='page')
                    a(href='#') Hỗ trợ