extends ../layouts/main.pug
block styles
    link(href='css/pages/supports.css', rel='stylesheet', type='text/css')
block content
    .page-support
        .header.container
            nav.fs-10.font-weight-light(aria-label='breadcrumb')
                ol.breadcrumb
                    li.breadcrumb-item
                        a(href='/home.html') Home
                    li.breadcrumb-item.active(aria-current='page')
                        a(href='#') Hỗ trợ
        .container.container--1020
            .banner.mb-5(style="background-image:url('./images/support/ic-29.png')")
                .banner__content
                    h1.fs-18.fs-lg-28.font-weight-bold Chúng tôi có thể hỗ trợ gì cho bạn?
                    .input-group.form-sm.pt-3
                        form.question-form
                            input.w-100.form-control.my-0.py-1.lime-border(type='text', placeholder='Câu hỏi của bạn', aria-label='Search')
                            button(type="submit", class="btn")
                                img(src='images/search.png')
                    span.text-white-50.font-italic Tại sao điều hòa không lạnh?
        .container.container--1020.pb-5.mb-3
            .row
                .col-12.col-lg-4.item-sp.text-center
                    .item-sp__image
                        img.mb-2(src="images/support/ic-30.png")
                    h5.fs-16.font-weight-medium  Trợ giúp cho sản phẩm của bạn
                    a.fs-10(href='#').text-center.text-blue Tìm hiểu thêm
                        img.arrowdown(src="images/arrowdown.png")
                .col-12.col-lg-4.item-sp.text-center
                    .item-sp__image
                        img.mb-2(src="images/support/ic-31.png")
                    h5.fs-16.font-weight-medium  Tải xuống tài liệu hướng dẫn và lắp đặt
                    a.fs-10(href='#').text-center.text-blue Tìm hiểu thêm
                        img.arrowdown(src="images/arrowdown.png")
                .col-12.col-lg-4.item-sp.text-center
                    .item-sp__image
                        img.mb-2(src="images/support/ic-32.png")
                    h5.fs-16.font-weight-medium Mua điều hòa Ecool ở đâu
                    a.fs-10(href='#').text-center.text-blue Tìm hiểu thêm
                        img.arrowdown(src="images/arrowdown.png")
        section.bg-gray.pt-5.pb-5
            .container.container--1020
                .row
                    .col-12.text-center
                        h1.text-center.fs-28.font-weight-bold  Tìm thông tin bổ sung
                    .col-12.col-lg-6
                        .support-portfolio
                            .row
                                .col-8
                                    h3.mt-0.fs-13.font-weight-bold Bảo hành
                                    p.fs-10 Kiểm tra bảo hành của sản phẩm
                                    a.fs-10(href='#').text-center.text-blue Tìm hiểu thêm
                                        img.arrowdown(src="images/arrowdown.png")
                                .col-4
                                    img.pt-2.float-right.img-info-support(src="images/support/ic-34.png")
                    .col-12.col-lg-6
                        .support-portfolio
                            .row
                                .col-8
                                    h3.mt-0.fs-13.font-weight-bold   Bảng giá dịch vụ
                                    p.fs-10   Tham khảo bảng giá dịch vụ của Ecool
                                    a.fs-10(href='#').text-center.text-blue Tìm hiểu thêm
                                        img.arrowdown(src="images/arrowdown.png")
                                .col-4
                                    img.pt-2.float-right.img-info-support(src="images/support/ic-35.png")
                    .col-12.col-lg-6
                        .support-portfolio
                            .row
                                .col-8
                                    h3.mt-0.fs-13.font-weight-bold   Tin tức và cảnh báo
                                    p.fs-10   Thông báo quan trọng về sản phẩm
                                    a.fs-10(href='#').text-center.text-blue Tìm hiểu thêm
                                        img.arrowdown(src="images/arrowdown.png")
                                .col-4
                                    img.pt-2.float-right.img-info-support(src="images/support/ic-36.png")
                    .col-12.col-lg-6
                        .support-portfolio
                            .row
                                .col-8
                                    h3.mt-0.fs-13.font-weight-bold  Ứng dụng app điều khiển
                                    p.fs-10   Hướng dẫn sử dụng app mobile Ecool App
                                    a.fs-10(href='#').text-center.text-blue Tìm hiểu thêm
                                        img.arrowdown(src="images/arrowdown.png")
                                .col-4
                                    img.pt-2.float-right.img-info-support(src="images/support/ic-33.png")
                    .col-12.col-lg-6
                        .support-portfolio
                            .row
                                .col-8
                                    h3.mt-0.fs-13.font-weight-bold   Các câu hỏi thường gặp
                                    p.fs-10   Tìm hiểu các vấn đề có thể gặp phải và cách khắc phục
                                    a.fs-10(href='#').text-center.text-blue Tìm hiểu thêm
                                        img.arrowdown(src="images/arrowdown.png")
                                .col-4
                                    img.pt-2.float-right.img-info-support(src="images/support/ic-40.png")

                    .col-12.col-lg-6
                        .support-portfolio
                            .row
                                .col-8
                                    h3.mt-0.fs-13.font-weight-bold   Chương trình khuyến mại
                                    p.fs-10   Tham khảo các chương trình ưu đãi hiện có chính hãng
                                    a.fs-10(href='#').text-center.text-blue Tìm hiểu thêm
                                        img.arrowdown(src="images/arrowdown.png")
                                .col-4
                                    img.pt-2.float-right.img-info-support(src="images/support/ic-37.png")
                    .col-12.col-lg-6
                        .support-portfolio
                            .row
                                .col-8
                                    h3.mt-0.fs-13.font-weight-bold   Hướng dẫn lắp đặt
                                    p.fs-10   Hướng dẫn lắp đặt máy điều hòa
                                    a.fs-10(href='#').text-center.text-blue Tìm hiểu thêm
                                        img.arrowdown(src="images/arrowdown.png")
                                .col-4
                                    img.pt-2.float-right.img-info-support(src="images/support/ic-39.png")

                    .col-12.col-lg-6
                        .support-portfolio
                            .row
                                .col-8
                                    h3.fs-13.font-weight-bold  Hướng dẫn vệ sinh
                                    p.fs-10
                                    a.fs-10(href='#').text-center.text-blue Tìm hiểu thêm
                                        img.arrowdown(src="images/arrowdown.png")
                                .col-4
                                    img.float-right.img-info-support(src="images/support/ic-38.png")
                    .col-12.text-center.pt-5
                        a.fs-10.text-blue(href='#') Hiển thị thông tin nhiều hơn
                            img.arrowdown(src="images/arrowdown.png")
        section
            .support-banner(style='background-image: url(images/banner-support.png)')
                .support-content
                    h1.fs-20.fs-lg-28.font-weight-bold DỊCH VỤ CHO BẠN
                    p.fs-10 Đăng kí mua sản phẩm, đặt hẹn bảo hành, yêu cầu sửa chữa.
                    a.fs-10.font-weight-semi-bold(href='#').text-blue Tìm hiểu thêm
                        img.arrowdown(src="images/arrowdown.png")
        section
            .container.container--1020
                .row
                    .col-12.text-center
                        h1.fs-28 Liên hệ
                    .col-12.col-lg-4.item-contact-support
                         .header-contact-support
                            img.img-contact-support(src="images/support/ic-42.png")
                            h1.fs-15 Trực tuyến
                         h1.fs-12 Tư vấn trực tuyến
                         p.fs-10  Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                         h1.fs-12 Thư điện tử
                         p.fs-10 Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                    .col-12.col-lg-4.item-contact-support
                         .header-contact-support
                            img.img-contact-support(src="images/support/ic-41.png")
                            h1.fs-15 Gọi điện thoại
                         h1.fs-12  1800 6566
                         p.fs-10  24/7 miễn cước phí
                         h1.fs-12 0968.6688.88
                         p.fs-10  24/7 miễn cước phí
                    .col-12.col-lg-4
                         .header-contact-support
                            img.img-contact-support(src="images/support/ic-43.png")
                            h1.fs-15 Trung tâm bảo hành
                         h1.fs-12 Thông tin trung tâm bảo hành eCool
                         p.fs-10  Tìm kiếm địa chỉ trung tâm bảo hành gần nhất




