extends ../layouts/main.pug
block styles
    link(href='css/pages/supports.css', rel='stylesheet', type='text/css')
block content
    .page-support
        .header.container
            nav.fs-10.font-weight-light(aria-label='breadcrumb')
                ol.breadcrumb
                    li.breadcrumb-item
                        a(href='/home.html') Home
                    li.breadcrumb-item.active(aria-current='page')
                        a(href='#') Hỗ trợ
        main.main
            .container
                .banner(style="background-image:url('./images/support/ic-29.png')")
                    .banner__content
                        h3 Chúng tôi có thể hỗ trợ gì cho bạn?
                        .input-group.form-sm.pt-3
                            input.form-control.my-0.py-1.lime-border(type='text', placeholder='Search', aria-label='Search')
                            .input-group-append
                                span.input-group-text.lime.lighten-2
                                i.fas.fa-search.text-grey(aria-hidden='true')
                        span  Tại sao điều hòa không lạnh?
                .block_1
                    .row
                        .col-4.item-sp
                            .item-sp__image
                                img(src="images/support/ic-30.png")
                            h5  Trợ giúp cho sản phẩm của bạn
                            a(href='#').text-center Tìm hiểu thêm
                        .col-4.item-sp
                            .item-sp__image
                                img(src="images/support/ic-31.png")
                            h5  Trợ giúp cho sản phẩm của bạn
                            a(href='#').text-center Tìm hiểu thêm
                        .col-4.item-sp
                            .item-sp__image
                                img(src="images/support/ic-32.png")
                            h5 Mua điều hòa Ecool ở đâu
                            a(href='#').text-center Tìm hiểu thêm
                .row
                h3.text-center   Tìm thông tin bổ sung
                        .row
                            .col-6
                                .row
                                    .col-8
                                        h3   Bảo hành
                                        p   Kiểm tra bảo hành của sản phẩm
                                        a(href='#').text-center Tìm hiểu thêm
                                    .col-4
                                        img.img-info-support(src="images/support/ic-36.png")

                            .col-6
                                .row
                                    .col-8
                                        h3   Bảng giá dịch vụ
                                        p   Tham khảo bảng giá dịch vụ của Ecool
                                        a(href='#').text-center Tìm hiểu thêm
                                    .col-4
                                        img.img-info-support(src="images/support/ic-36.png")
                            .col-6
                                .row
                                    .col-8
                                        h3   Tin tức và cảnh báo
                                        p   Thông báo quan trọng về sản phẩm
                                        a(href='#').text-center Tìm hiểu thêm
                                    .col-4
                                        img.img-info-support(src="images/support/ic-36.png")

                            .col-6
                                .row
                                    .col-8
                                        h3  Ứng dụng app điều khiển
                                        p   Hướng dẫn sử dụng app mobile Ecool App
                                        a(href='#').text-center Tìm hiểu thêm
                                    .col-4
                                        img.img-info-support(src="images/support/ic-36.png")
                            .col-6
                                .row
                                    .col-8
                                        h3   Các câu hỏi thường gặp
                                        p   Tìm hiểu các vấn đề có thể gặp phải và cách khắc phục
                                        a(href='#').text-center Tìm hiểu thêm
                                    .col-4
                                        img.img-info-support(src="images/support/ic-36.png")

                            .col-6
                                .row
                                    .col-8
                                        h3   Chương trình khuyến mại
                                        p   Tham khảo các chương trình ưu đãi hiện có chính hãng
                                        a(href='#').text-center Tìm hiểu thêm
                                    .col-4
                                        img.img-info-support(src="images/support/ic-36.png")
                            .col-6
                                .row
                                    .col-8
                                        h3   Các câu hỏi thường gặp
                                        p   Tìm hiểu các vấn đề có thể gặp phải và cách khắc phục
                                        a(href='#').text-center Tìm hiểu thêm
                                    .col-4
                                        img.img-info-support(src="images/support/ic-36.png")

                            .col-6
                                .row
                                    .col-8
                                        h3   Chương trình khuyến mại
                                        p   Tham khảo các chương trình ưu đãi hiện có chính hãng
                                        a(href='#').text-center Tìm hiểu thêm
                                    .col-4
                                        img.img-info-support(src="images/support/ic-36.png")
                            .col-6
                                .row
                                    .col-8
                                        h3   Hướng dẫn lắp đặt
                                        p   Hướng dẫn lắp đặt máy điều hòa
                                        a(href='#').text-center Tìm hiểu thêm
                                    .col-4
                                        img.img-info-support(src="images/support/ic-36.png")

                            .col-6
                                .row
                                    .col-8
                                        h3   Hướng dẫn vệ sinh
                                        p
                                        a(href='#').text-center Tìm hiểu thêm
                                    .col-4
                                        img.img-info-support(src="images/support/ic-36.png")
                            p.text-center Hiển thị thêm
