extends ../layouts/main.pug

block content  
        .container
            .container--691
             p Home  / Hỗ Trợ  / Tài Liệu
                .row.items-support
                    .col-4.item-support
                        img(src="images/support.png", alt="")
                        p.text-center.support-title Hướng dẫn sử dụng
                        .row
                            .col-6.text-center
                                img.img-icon-left(src="images/seen.png", alt="")
                            .col-6.text-center
                                img.img-icon-right(src="images/download.png", alt="")
                    .col-4.item-support
                        img(src="images/support.png", alt="")
                        p.text-center.support-title Hướng dẫn sử dụng
                        .row
                            .col-6.text-center
                                img.img-icon-left(src="images/seen.png", alt="")
                            .col-6.text-center
                                img.img-icon-right(src="images/download.png", alt="")
                    .col-4.item-support
                        img(src="images/support.png", alt="")
                        p.text-center.support-title Hướng dẫn sử dụng
                        .row
                            .col-6.text-center
                                img.img-icon-left(src="images/seen.png", alt="")
                            .col-6.text-center
                                img.img-icon-right(src="images/download.png", alt="")
                    .col-4.item-support
                        img(src="images/support.png", alt="")
                        p.text-center.support-title Hướng dẫn sử dụng
                        .row
                            .col-6.text-center
                                img.img-icon-left(src="images/seen.png", alt="")
                            .col-6.text-center
                                img.img-icon-right(src="images/download.png", alt="")
                    .col-4.item-support
                        img(src="images/support.png", alt="")
                        p.text-center.support-title Hướng dẫn sử dụng
                        .row
                            .col-6.text-center
                                img.img-icon-left(src="images/seen.png", alt="")
                            .col-6.text-center
                                img.img-icon-right(src="images/download.png", alt="")
                    .col-4.item-support
                        img(src="images/support.png", alt="")
                        p.text-center.support-title Hướng dẫn sử dụng
                        .row
                            .col-6.text-center
                                img.img-icon-left(src="images/seen.png", alt="")
                            .col-6.text-center
                                img.img-icon-right(src="images/download.png", alt="")
                    .col-12.text-center
                        a.text-center(href="#") Hiển thị thông tin nhiều hơn 


