extends ../layouts/main.pug
block styles
    link(href='css/pages/supports.css', rel='stylesheet', type='text/css')
block content
    .page-support
        .header.container
            nav.fs-10.font-weight-light(aria-label='breadcrumb')
                ol.breadcrumb
                    li.breadcrumb-item
                        a(href='/home.html') Home
                    li.breadcrumb-item.active(aria-current='page')
                        a(href='#') Hỗ trợ
        main.main
            .container
                .banner(style="background-image:url('./images/support/ic-29.png')")
                    .banner__content
                        h3 Chúng tôi có thể hỗ trợ gì cho bạn?
                        .input-group.form-sm.pt-3
                            input.form-control.my-0.py-1.lime-border(type='text', placeholder='Search', aria-label='Search')
                            .input-group-append
                                span.input-group-text.lime.lighten-2
                                i.fas.fa-search.text-grey(aria-hidden='true')
                        span Tại sao điều hòa không lạnh?
            .container
                .block_1
                    .row
                        .col-4.item-sp
                            .item-sp__image
                                img(src="images/support/ic-30.png")
                            h5.fs-16  Trợ giúp cho sản phẩm của bạn
                            a.fs-10(href='#').text-center Tìm hiểu thêm
                        .col-4.item-sp
                            .item-sp__image
                                img(src="images/support/ic-31.png")
                            h5.fs-16  Trợ giúp cho sản phẩm của bạn
                            a.fs-10(href='#').text-center Tìm hiểu thêm
                        .col-4.item-sp
                            .item-sp__image
                                img(src="images/support/ic-32.png")
                            h5.fs-16 Mua điều hòa Ecool ở đâu
                            a.fs-10(href='#').text-center Tìm hiểu thêm
                    .row
                        .col-12.text-center
                            h1.text-center.fs-28.font-weight-600  Tìm thông tin bổ sung
                        .col-6
                            .row
                                .col-8
                                    h3.fs-13.font-weight-bold Bảo hành
                                    p.fs-10 Kiểm tra bảo hành của sản phẩm
                                    a.fs-10(href='#').text-center Tìm hiểu thêm
                                .col-4
                                    img.img-info-support(src="images/support/ic-34.png")
                        .col-6
                            .row
                                .col-8
                                    h3.fs-13.font-weight-bold   Bảng giá dịch vụ
                                    p.fs-10   Tham khảo bảng giá dịch vụ của Ecool
                                    a.fs-10(href='#').text-center Tìm hiểu thêm
                                .col-4
                                    img.img-info-support(src="images/support/ic-35.png")
                        .col-6
                            .row
                                .col-8
                                    h3.fs-13.font-weight-bold   Tin tức và cảnh báo
                                    p.fs-10   Thông báo quan trọng về sản phẩm
                                    a.fs-10(href='#').text-center Tìm hiểu thêm
                                .col-4
                                    img.img-info-support(src="images/support/ic-36.png")
                        .col-6
                            .row
                                .col-8
                                    h3.fs-13.font-weight-bold  Ứng dụng app điều khiển
                                    p.fs-10   Hướng dẫn sử dụng app mobile Ecool App
                                    a.fs-10(href='#').text-center Tìm hiểu thêm
                                .col-4
                                    img.img-info-support(src="images/support/ic-37.png")
                        .col-6
                            .row
                                .col-8
                                    h3.fs-13.font-weight-bold   Các câu hỏi thường gặp
                                    p.fs-10   Tìm hiểu các vấn đề có thể gặp phải và cách khắc phục
                                    a.fs-10(href='#').text-center Tìm hiểu thêm
                                .col-4
                                    img.img-info-support(src="images/support/ic-38.png")

                        .col-6
                            .row
                                .col-8
                                    h3.fs-13.font-weight-bold   Chương trình khuyến mại
                                    p.fs-10   Tham khảo các chương trình ưu đãi hiện có chính hãng
                                    a.fs-10(href='#').text-center Tìm hiểu thêm
                                .col-4
                                    img.img-info-support(src="images/support/ic-39.png")
                        .col-6
                            .row
                                .col-8
                                    h3.fs-13.font-weight-bold   Hướng dẫn lắp đặt
                                    p.fs-10   Hướng dẫn lắp đặt máy điều hòa
                                    a.fs-10(href='#').text-center Tìm hiểu thêm
                                .col-4
                                    img.img-info-support(src="images/support/ic-40.png")

                        .col-6
                            .row
                                .col-8
                                    h3.fs-13.font-weight-bold   Hướng dẫn vệ sinh
                                    p.fs-10
                                    a.fs-10(href='#').text-center Tìm hiểu thêm
                                .col-4
                                    img.img-info-support(src="images/support/ic-41.png")
                        a.fs-10.text-center(href='#') Hiển thị thông tin nhiều hơn

                    .row
                        .col-8
                            h1 DỊCH VỤ CHO BẠN
                            p Đăng kí mua sản phẩm, đặt hẹn bảo hành, yêu cầu sửa chữa.
                            a(href='#') Tìm hiểu thêm
                        .col-4
                            img.img-service-support(src="images/service-your-self.jpg")
