extends ../layouts/main.pug

block content
    .page-system-cool
        .container
            nav(aria-label='breadcrumb')
                ol.breadcrumb
                    li.breadcrumb-item
                        a(href='/home.html') Home
                    li.breadcrumb-item
                        a(href='/home.html') Hỗ trợ
                    li.breadcrumb-item.active(aria-current='page')
                        a(href='#') Hệ thống đại lý
        .container.container--790
            h1.text-center.mt-5.mb-5 Hệ thống đại lý eCool
            p.mt-5.mb-5 Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit.
            form.form-search-system.text-center(action="#")
                .form-group
                    input.input-search-system.form-group.border-form-system.form-control(type='text', placeholder='Nhập địa chỉ hoặc tên cửa hàng')
                    button.btn-search-system(type='submit')
                        img.img-btn-search(src='images/search.png')
                .form-group
                    span Sử dụng vị trí của bạn
            #map.mt-5.mb-5
            table.mt-5.mb-4.table.table-sm
                thead
                    tr
                        th(scope='col',width='15%') Khoảng cách
                        th(scope='col',width='20%') Đại lý
                        th(scope='col') Địa chỉ
                        th
                            select.form-control
                                option(value="1") Tất cả
                                option(value="1") Hà Nội
                                option(value="1") Hải Phòng
                                option(value="1") Đà Nẵng
                tbody
                    .tr-system-ecool.mt-3.mb-3
                        tr
                            td 72.25 km
                            td.shop-ecool Đại lí Toàn Thu
                            td Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            td.text-right Hà Nội
                        tr
                            td 72.25 km
                            td.shop-ecool Đại lí Toàn Thu
                            td Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            td.text-right Hà Nội
                        tr
                            td 72.25 km
                            td.shop-ecool Đại lí Toàn Thu
                            td Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            td.text-right Hà Nội
                        tr
                            td 72.25 km
                            td.shop-ecool Đại lí Toàn Thu
                            td Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            td.text-right Hà Nội
                        tr
                            td 72.25 km
                            td.shop-ecool Đại lí Toàn Thu
                            td Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            td.text-right Hà Nội
                        tr
                            td 72.25 km
                            td.shop-ecool Đại lí Toàn Thu
                            td Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            td.text-right Hà Nội
                        tr
                            td 72.25 km
                            td.shop-ecool Đại lí Toàn Thu
                            td Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            td.text-right Hà Nội
                        tr
                            td 72.25 km
                            td.shop-ecool Đại lí Toàn Thu
                            td Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            td.text-right Hà Nội
                        tr
                            td 72.25 km
                            td.shop-ecool Đại lí Toàn Thu
                            td Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            td.text-right Hà Nội
                        tr
                            td 72.25 km
                            td.shop-ecool Đại lí Toàn Thu
                            td Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            td.text-right Hà Nội
                        tr
                            td 72.25 km
                            td.shop-ecool Đại lí Toàn Thu
                            td Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            td.text-right Hà Nội
                        tr
                            td 72.25 km
                            td.shop-ecool Đại lí Toàn Thu
                            td Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            td.text-right Hà Nội
            a(href="#")
                p.see-more-system-ecool.text-center Xem thêm

block scripts
    script(src="/js/my_map.js")
    script(async, defer, src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBevBjEKvEBR9dUzHvOP7TrW9niqq1IMo0&callback=initMap')
