extends ../layouts/main.pug

block content
    img.img-news(src="images/productbanner.png", alt="Sơn Hà")
    .container.container--860
        .row.menu-sub-news.text-center
            .col-3.menu-sub-news-title-active
                a(href="#")
                    p.menu-sub-news-title Tin tức và sự kiện
            .col-3
                a(href="#")
                    p.menu-sub-news-title Góc tư vấn
            .col-3
                a(href="#")
                    p.menu-sub-news-title Chương trình ưu đãi
            .col-3
                a(href="#")
                    p.menu-sub-news-title Video
    .container.container--860
        .row.video-header
            .col-8
                img.img-video(src="images/videoy.png", alt="Sơn Hà")
            .col-4
                p.video-header-title HƯỚNG DẪN VỆ SINH MÀNG LỌC
                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.
                .arrow
                    span.arrow__left
                        img(src='images/arrowleft.png')
                    span.arrow__right
                        img(src='images/arrowright.png')
        .row.video-items
            .col-12
                h3.video-items-title Có thể bạn sẽ quan tâm
            .col-4
                .item-video
                    img.img-item-video(src="images/videoy.png", alt="Sơn Hà")
                    p.name-item-video.text-center Cách nhận biết điều hòa cần được bảo dưỡng
                    p.description-item-video.text-center Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            .col-4
                .item-video
                    img.img-item-video(src="images/videoy.png", alt="Sơn Hà")
                    p.name-item-video.text-center Cách nhận biết điều hòa cần được bảo dưỡng
                    p.description-item-video.text-center Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            .col-4
                .item-video
                    img.img-item-video(src="images/videoy.png", alt="Sơn Hà")
                    p.name-item-video.text-center Cách nhận biết điều hòa cần được bảo dưỡng
                    p.description-item-video.text-center Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                
