doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='keywords', content='eCool')
    meta(name='description', content='HTML5 eCool')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title e-Cool
    // favicon icon
    link(rel='shortcut icon', href='images/favicon.png')
    // inject css start
    // == bootstrap
    link(href='css/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap&subset=vietnamese', rel='stylesheet')
    link(href='css/main.css', rel='stylesheet', type='text/css')
    block styles
  body
    header
      .container.container--1063.d-flex
        nav.w-100.navbar.navbar-expand-lg.navbar-light.bg-white
          a.navbar-brand(href='index.html')
            img(src='images/logo.png')
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarToggler', aria-controls='navbarToggler', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarToggler.collapse.navbar-collapse
            ul.navbar-nav.ml-auto.mt-2.mt-lg-0
              li.nav-item.active
                a(href='#') Giới thiệu
              li.nav-item
                a(href='#') Sản phẩm
              li.nav-item
                a(href='#') Hỗ trợ
              li.nav-item
                a(href='#') Tin tức
              li.nav-item
                a(href='#') Liên hệ
            img.search(src='images/search.png')
            .text-center
              a.language(href='index.html')
                img(src='images/languege1.png')
              a.language(href='index.html')
                img(src='images/language2.png')
    block content
    footer
      section.subscribe.bg-gray
        .container.container--608.text-center
          h3.font-weight-semi-bold.fs-20 Đăng ký nhận thông tin khuyến mại từ Ecool
          p.font-weight-light.fs-10
            | Tất cả thông tin về chương trình khuyến mại, chăm sóc khách hàng, sự kiện, hội thảo sẽ được gửi đến Email của bạn.
          form.subscribe__form
            input#email.subscribe__input(type='email', placeholder='Địa chỉ Email của bạn...')
            button.fs-20.font-weight-semi-bold.text-white.subscribe__submit(type='submit') Xác nhận
      section.menu.bg-blue
        .container
          .row
            .col
              .menu__logo
                img(src='images/logo.png')
              p.text-white.fs-12.sologan
                | Mang thiên nhiên
                | đến ngôi nhà bạn.
            .col
              h5.menu__title.fs-14.text-white.font-weight-semi-bold
                | Giới thiệu
              .menu__nav
                a.fs-12.d-block.text-white.item-footer(href='#')
                  | Về Sơn Hà
                a.fs-12.d-block.text-white.item-footer(href='#')
                  | Về Ecool
            .col
              h5.menu__title.fs-14.text-white.font-weight-semi-bold
                | Sản phẩm
              .menu__nav
                a.fs-12.d-block.text-white.item-footer(href='#')
                  | Điều hòa Inverter
                a.fs-12.d-block.text-white.item-footer(href='#')
                  | Điều hòa Wifi
                a.fs-12.d-block.text-white.item-footer(href='#')
                  | Điều hòa 1 Chiều
                a.fs-12.d-block.text-white.item-footer(href='#')
                  | Điều hòa 2 Chiều
            .col
              h5.menu__title.fs-14.text-white.font-weight-semi-bold
                | Hỗ trợ
              .menu__nav
                a.fs-12.d-block.text-white.item-footer(href='#')
                  | Trợ giúp
                a.fs-12.d-block.text-white.item-footer(href='#')
                  | Tài liệu
                a.fs-12.d-block.text-white.item-footer(href='#')
                  | Hệ thống đại lý
            .col
              h5.menu__title.fs-14.text-white.font-weight-semi-bold
                | Tin tức
              .menu__nav
                a.fs-12.d-block.text-white.item-footer(href='#')
                  | Tin tức và sự kiện
                a.fs-12.d-block.text-white.item-footer(href='#')
                  | Góc tư vấn
                a.fs-12.d-block.text-white.item-footer(href='#')
                  | Chương trình ưu đãi
                a.fs-12.d-block.text-white.item-footer(href='#')
                  | Video
            .col
              h5.menu__title.fs-14.text-white.font-weight-semi-bold
                | Liên hệ
          .language-footer
            a.language(href='index.html')
              img(src='images/languege1.png')
            a.language(href='index.html')
              img(src='images/language2.png')
      section.copyright.bg-black
        .social.text-center
          img.social__icon(src='images/facebook.png')
          img.social__icon(src='images/youtube.png')
          img.social__icon(src='images/instagram.png')
          img.social__icon(src='images/messenger.png')
        .copyright__info
          h4.text-uppercase.text-white.fs-18.text-center Công ty cổ phần quốc tế sơn hà
          p.mb-0.text-white.fs-13.text-center Điện thoại: 1800 6566 - Email: support@sonha.com.vn - Lô CN1, Cụm Công nghiệp Từ Liêm, P.Minh Khai, Q.Bắc Từ Liêm, TP Hà Nội
    // == jquery
    script(src='js/jquery.min.js')
    // == bootstrap
    script(src='js/bootstrap.min.js')
    script(src='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js')
  
    script(src='../../js/myscript.js')
    block scripts
    
