.about-son-ha
    .title-son-ha
    margin-top 80px
    margin-bottom 40px
    .description
        margin-top 40
    .img-item-son-ha
        width 50px
        height 50px
    .items-son-ha
        margin-top 20px
    .slide__content
        bottom 30px
        left 25px
        p
            max-width: 370px
    .sonha-slide
        padding-top 20px
        padding-bottom 40px
        padding-left: 11px
        padding-right: 11px
        .slide
            padding 4px
    .banner
        margin-bottom: 40px

@media (min-width 992px)
    .about-son-ha
        .banner
            margin-bottom: 90px
        .sonha-slide
            padding-top 50px
            padding-bottom 140px
            padding-left: 11px
            padding-right: 11px
    #slides-sonha-item
        .slick-prev, .slick-next
            &:before
                color #333
.sub-item-slide
    height 103px