.img-item-ecool
    width 108px
    height 108px
.title-icon-ecool
    margin-top 30px
    margin-bottom 30px
.items-ecool
    margin-top 80px
    margin-bottom 160px
.title-about-ecool
    margin-top 80px
    margin-bottom 80px
.img-item
    opacity 0.4
.image-items-post
    margin-top 80px
.items-product
    margin-top 80px
    margin-bottom 80px
.title-product
    margin-bottom 80px
.arrow
    float right
    border 1px solif back