.item-contact
    margin-bottom 20px
    background #f7f8fa
.name-item-contact
    font-weight 600
.map-contact
    width 100%
.contact
    h1
        color #414042
.company-info
    span
        color #30BCEE
        img
            max-width 8px
            max-height 8px
            margin-right 4px
.form-contact
    input
        height 46px
    .form-group
        padding-left 30px
        font-size 11px
        &::placeholder
            font-size 10px
            font-weight 300
@media (min-width 992px)
    .title-contact
        text-align center
        font-weight 600
        padding-top 50px
    .form-contact
        padding-top 30px
    .border-form-contact
        border 0
        border-radius 10px
        background-color #f7f8fa
        height 46px
    .border-textarea-contact
        border-radius 10px
        border 0
        height 190px !important
        background-color #f7f8fa
    .item-contact
        font-weight 600
        padding 19px 10px
        background-color #f7f8fa
        border 0
        border-radius 10px
    .form-contact
        max-width 661px
        margin 0 auto
        padding-top 10px
    .company-info
        margin-top 20px
    .form-contact
        margin-top 30px
    .btn-contact
        margin-bottom 20px;
        float left
        text-transform uppercase
        font-weight 600
        background-color #30BCEE
        color #fff
    .map-contact
        width 100%
        height 400px
