.title-contact
    text-align center
    font-weight 600
    padding-top 50px
.form-contact
    padding-top 30px
.border-form-contact
    border 0
    border-radius 10px
    background-color #f7f8fa
    height 46px
.border-textarea-contact
    border-radius 10px
    border 0
    height 150px !important
    background-color #f7f8fa