@import "../components/home-slider.styl"
@import "../components/home-news.styl"
@import "../components/home-video-slider.styl"
@import "../components/home-product-tab.styl"

.section__title
    margin-bottom 2rem
.portfolio
    margin-bottom 30px
    .portfolio__item
        margin-bottom 20px
        img
            border-radius: 20px
        p
            bottom 0px
            left 0
            right 0
            text-align center
            margin-bottom 5px
@media (min-width 1200px)
    .video
        .slick-list
            padding:0 350px !important;