@import "../components/home-slider.styl"
@import "../components/home-news.styl"
@import "../components/home-video-slider.styl"

.section__title
    margin-bottom 2rem
.portfolio
    margin-bottom 30px
    .portfolio__item
        p
            bottom 0px
            left 0
            right 0
            text-align center
            margin-bottom 5px
.product-tab
    padding-top 1rem
    ul.nav
        padding-bottom 30px
    .col--product-left
        padding-bottom 20px
        a
            height 100%
            padding-top 40px
            img
                padding 0 40px
            .detail
                padding 0 80px
                p
                    padding-bottom 0px
    .product-right
        margin-bottom 20px
        a
            padding 20px
            img,p
                padding-top 20px
    .btn-product-tab
        padding 10px 30px
        a
            position: relative;
            padding 0 0 30px 0
        &.active a:after
            border-bottom: 2px solid #2DBDEE;
            content: '';
            position: absolute;
            right: 0;
            width: 30%;
            bottom: 0;
            margin: 0 auto;
    .product-mini
        height 210px