.news-detail
    margin-bottom 60px
    .social-news-detail
        .social__icon
            width 23px
            margin-right 10px
    .news-content
        img
            margin-top 20px
    .news-date
        margin-top 30px
    .news-related
        padding-top 80px
        padding-bottom 90px
    .related-item
        padding-left 30px
        padding-right 30px

