.img-news
    width 100%
    height 483px
.menu-sub-news
    text-align center
    background-color #fff
    padding 5px
    position absolute
    top 555px
.menu-sub-news-title
    font-weight bold
    font-size 16px
    width 170px
    
.menu-sub-news-title-active
    border-bottom 2px solid #30bcee

.news-header
    margin-top 46px
.img-header
    width 100%
    height 100px
.title-news
    font-weight bold
    font-size 12px
.type-news 
    font-size 12px
.item-news-header
    margin-top 5px
.news-event
    background-color #f7f8fa
.title-news-event
    font-weight bold
    margin-top 40px
    margin-bottom 40px
.name-news-event
    margin 10px 0 10px 0 
    font-size 14px
    font-weight bold
    text-align center
.short-description-news
    text-align center
.items-news-event
    background-color #fff
    margin-top 20px
    margin-bottom 20px
.see-all 
    color blue
