.product-box
    .option-box
        font-size 12px
.bd-highlight
    font-weight: 500;
#btn-viewmorde
    padding 10px
    border-radius 20px
    background-color #f7f8fa
.bd-highlight
    font-weight:600;
.select-box__input-text
    font-weight:500;
.select-box
    z-index 1

@media (min-width 320px)
    .btn-search-system
        position: absolute;
        left: 20px;
        background: transparent;
        width: 34px;
        top: 13px;
    .input-search-system
        padding-left: 80px
        border-radius 30px
        &::placeholder
            font-size 10px
    .form-search-system
        position relative
    .btn-search-system
        border 0
        border-radius 10px  
        margin-left 0
        margin-right 0
    .border-form-system
        border 0
        border-radius 30px
        background-color #f7f8fa
        height 46px
    .product-inverter
        .begin-products-list
            background-color  #fff
            padding-top 25px
            padding-bottom 25px
            .products-list-content
                text-align center
    #btn-viewmorde
        padding 5px
        border-radius 20px
        background-color #f7f8fa
.selector {
position: relative;
padding: 20px;
width: 400px;
color: #7e7e7e;
}
.selector ul {
position: relative;
display: block;
overflow: auto;
min-width: 138px;
max-height: 200px;
background: #fff;
list-style: none;
white-space: inherit;
padding-right: 17px;
width: calc(100% + 17px)
}
.selector li {
position: relative;
padding: 3px 20px 3px 25px;
cursor: pointer
}
.selector li:before {
position: absolute;
top: 50%;
left: 0;
top: 4px;
display: inline-block;
margin-right: 9px;
width: 17px;
height: 17px;
background-color: #f4f4f4;
border: 1px solid #d5d5d5;
content: ""
}
.selector li[data-selected="1"]:before {
border: 1px solid #d7d7d7;
background-color: #fff
}
.selector li[data-selected="1"]:after {
position: absolute;
top: 50%;
left: 3px;
top: 11px;
display: inline-block;
width: 4px;
height: 10px;
border-right: 2px solid;
border-bottom: 2px solid;
background: none;
color: #39c9a9;
content: "";
-webkit-transform: rotate(40deg) translateY(-50%);
transform: rotate(40deg) translateY(-50%)
}
.selector li:hover {
color: #aaa
}
.selector li .total {
position: absolute;
right: 0;
color: #d7d7d7
}
.selector .price-slider {
text-align: center;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
position: relative;
padding-top: 17px
}

@media (min-width 992px)
    .product-inverter
        .inverter
            margin-top 80px
            margin-bottom 80px
            background-color #f7f8fa
            padding 50px

        .background-color
            background-color #f7f8fa
            margin-bottom 50px
            border-bottom 20px solid #f7f8fa
        .begin-products-list
            background-color  #fff
            padding-top 65px
            padding-bottom 65px
            .products-list-content
                text-align left
        .products-list-info
            margin-top 40px
            margin-bottom 60px
        .info-product
            border-bottom 1px solid grey
            margin-bottom 20px
        .multiple-product
            border 2px solid grey
            border-radius 20px
            padding 10px
        .see-more-product
            margin-top 40px
            margin-bottom 80px
        .news
            padding-top 30px
            h2
                line-height: 28px
                margin-bottom: 20px
            .news__banner
                position relative
                margin-bottom: 30px
                .label
                    width: 122px
                    position absolute
                    background-size: 100% 100%
                    padding-bottom: 25px
                    padding-left: 10px
                    left 15px
                    top 0
                    margin-bottom 20px
            .news__text
                margin-bottom 30px
            .arrow
                display inline-block
                position absolute
                bottom 0
                left 15px
                img
                    width 7px
                .arrow__left
                    width 7px
                    padding 5px 11px
                    border 1px solid #000
                    border-top-left-radius: 6px
                    border-bottom-left-radius: 6px 
                .arrow__right
                    width 7px
                    padding 5px 11px
                    border 1px solid #000
                    border-left: none
                    border-top-right-radius: 6px
                    border-bottom-right-radius: 6px 
            .news__viewall
                margin-top: 50px
                a
                    color #08649C
                    &:hover
                        text-decoration: none;
                    img
                        width 16px
                        margin-left 20px
        .product-highlight
            border-top 2px solid grey
        .products-seen
            border-top 1px solid grey
            margin-top 40px
            .img-item-product
                width 80%
        .title-products-seen
            margin-top 20px
            margin-bottom 20px
    #btn-viewmorde
        padding 5px
        border-radius 20px
        background-color #f7f8fa
