.product-box
    .option-box
        font-size 12px
.bd-highlight
    font-weight: 500;
#btn-viewmorde
    padding 10px
    border-radius 20px
    background-color #f7f8fa
.bd-highlight
    font-weight:600;
.select-box__input-text
    font-weight:500;
@media (min-width 320px)
    .btn-search-system
        position: absolute;
        left: 20px;
        background: transparent;
        width: 34px;
        top: 13px;
    .input-search-system
        padding-left: 80px
        border-radius 30px
        &::placeholder
            font-size 10px
    .form-search-system
        position relative
    .btn-search-system
        border 0
        border-radius 10px  
        margin-left 0
        margin-right 0
    .border-form-system
        border 0
        border-radius 30px
        background-color #f7f8fa
        height 46px
    .product-inverter
        .begin-products-list
            background-color  #fff
            padding-top 25px
            padding-bottom 25px
            .products-list-content
                text-align center
    #btn-viewmorde
        padding 5px
        border-radius 20px
        background-color #f7f8fa

@media (min-width 992px)
    .product-inverter
        .inverter
            margin-top 80px
            margin-bottom 80px
            background-color #f7f8fa
            padding 50px

        .background-color
            background-color #f7f8fa
            margin-bottom 50px
            border-bottom 20px solid #f7f8fa
        .begin-products-list
            background-color  #fff
            padding-top 65px
            padding-bottom 65px
            .products-list-content
                text-align left
        .products-list-info
            margin-top 40px
            margin-bottom 60px
        .info-product
            border-bottom 1px solid grey
            margin-bottom 20px
        .multiple-product
            border 2px solid grey
            border-radius 20px
            padding 10px
        .see-more-product
            margin-top 40px
            margin-bottom 80px
        .news
            padding-top 30px
            h2
                line-height: 28px
                margin-bottom: 20px
            .news__banner
                position relative
                margin-bottom: 30px
                .label
                    width: 122px
                    position absolute
                    background-size: 100% 100%
                    padding-bottom: 25px
                    padding-left: 10px
                    left 15px
                    top 0
                    margin-bottom 20px
            .news__text
                margin-bottom 30px
            .arrow
                display inline-block
                position absolute
                bottom 0
                left 15px
                img
                    width 7px
                .arrow__left
                    width 7px
                    padding 5px 11px
                    border 1px solid #000
                    border-top-left-radius: 6px
                    border-bottom-left-radius: 6px 
                .arrow__right
                    width 7px
                    padding 5px 11px
                    border 1px solid #000
                    border-left: none
                    border-top-right-radius: 6px
                    border-bottom-right-radius: 6px 
            .news__viewall
                margin-top: 50px
                a
                    color #08649C
                    &:hover
                        text-decoration: none;
                    img
                        width 16px
                        margin-left 20px
        .product-highlight
            border-top 2px solid grey
        .products-seen
            border-top 1px solid grey
            margin-top 40px
            .img-item-product
                width 80%
        .title-products-seen
            margin-top 20px
            margin-bottom 20px
    #btn-viewmorde
        padding 5px
        border-radius 20px
        background-color #f7f8fa