.item-service-products
    margin-top 20px
    margin-bottom 20px
.name-service-products
    font-weight 600
@media (min-width 992px)
     .title-products
        margin-bottom 40px
    .description-products
        font-weight 600
        margin-bottom 40px
    .images-products
        margin-bottom 80px
    .img-item-product
        margin-top 60px
        margin-bottom 60px
    .item-des
        margin-bottom 60px
    .btn--product
        font-size 16px
        border 2px solid grey
        border-radius 20px
        margin-bottom 40px
    .item-product
        background-color #f7f8fa
        margin-bottom 40px
        padding 20px
    .link-products-list
        margin-bottom 60px
    .title-service  
    margin-bottom 80px
    .img-service
        display block
        margin-left auto
        margin-right auto
        width 60px
        height 60px
        text-align center
    .service-item
        margin-bottom 80px
    .application
        margin-bottom 80px
        background-color #f7f8fa
    .title-using 
        margin-bottom 80px
    .using 
        margin-bottom 100px