.kt-checkbox
    position: relative;
    padding-left: 30px
    span
        background: 0 0;
        position: absolute;
        top: 1px;
        left: 0;
        height: 18px;
        width: 18px;
        border: 1px solid #c8cfdd;
        &:after
            content: '';
            position: absolute;
            top: 50%;
            right: 50%;
            margin-right: -2px;
            margin-top: -6px;
            width: 5px;
            height: 10px;
            border-width: 0 2px 2px 0!important;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            border: solid #000;
            
    input
        position: absolute;
        z-index: -1;
        opacity: 0;
    input:checked
        &~span
            border: 1px solid #c8cfdd;

.product-detail
    font-size 14px
    padding-top 30px
    .product-main
        .product-thumbnails
            a
                img
                    margin 0 auto
                    width 50px
                    height 50px
        .product-gallery
            img
                width 100%
                border: 1px solid #f0f0f0;
            .slick-slide
                padding 3px
        .slick-slide
            img
                border: 1px solid #f0f0f0;
    .variations
        .variations__item
            span.label
                display block
                font-size 10px
                text-transform uppercase
                line-height 16px
                border-bottom: 1px solid #f0f0f0;
            .value
                margin-top 10px
                label
                    font-size 10px
                    line-height: 20px
    .product-info
        .product-btn
            display block
            padding 10px
            text-align center
            border-radius 20px
            background #F7F8FA
            &.price
                background-color #08649C
                color #fff
        .sku
            font-size 9px
        .product-title
            font-size 24px
        .product-short-description
            font-size 9px
            ul
                padding-left 15px
    .slide-featured-product
        .slide-item
            img
                width 100%
    .product-footer
        margin-top 30px
        .nav-item
            width: 100%;
        .nav-link
            padding-bottom 0px
            
        .nav-tabs .nav-link.active
            color: #495057;
            border none
            background none
            &::after
                height: 3px;
                display: block;
                width: 30px;
                background: #30BCEE;
                content: '';
                
    .product-attribute-specs-table
        background #F7F8FA
        padding 10px
        margin-top: 50px;

        h3
            font-size 23px
            margin-bottom 2rem
        .bd-right:nth-child(1)
            border-right 0.5px solid #000
        h4.highlight
            font-size 25px
            
        span
            font-size 11px
        .item-spect
            padding 10px 20px
            text-align center
        a.btn-showmore
            margin 0 auto
    .product-featured
        .col-sm
            padding  20px 50px
            text-align center
            h3
                font-size 14px
    .product-support
        .item_support
            background #F7F8FA
            padding 20px
            text-align: center;
        .item_support__content
            font-size 16px
            text-align: justify;
            margin: 0 auto;
            padding-bottom: 15px;
            width: 215px;
        .item_support_1
            margin-bottom 10px
        a.link-sp
            font-size 9px
            text-align center
            padding-top 15px
    .tab-content
        font-size 12px
        h2.product-title
            text-align left
            margin-top 40px
            margin-bottom 10px
            font-size 26px
        h3.product-title
            text-align center
            margin-top 40px
            font-size 26px
            margin-bottom 25px
        .sku
            margin-bottom 30px
        .product-description
            padding 10px 10px 40px 10px
            text-align justify
        .slide
            margin-top 10px
    .item_feautred
        .item__title 
            font-size 20px
            margin-top 15px
            height 45px
            margin-bottom: 20px
        .item__description
            font-size 12px
            padding: 0 12px;
            text-align justify
    .product-video
        margin-bottom 40px
        .item_video__title
            margin-top: 25px
            text-align: center
        .item_support
            padding 80px 135px
    
    .view-more-sp
        margin-top 40px
        padding-bottom: 20px
    

@media (min-width: 992px)
    .product-detail
        padding-top 30px
        .product-footer
            margin-top 60px
            .nav-item
                width: auto;
            .nav-tabs .nav-link.active
                &::after
                    margin: 20px auto 0px auto;
        .product-main
            padding 0 80px
        .tab-content
            .product-description
                padding 40px 10px
                text-align center
        .product-support
    
            .item_support
                background #F7F8FA
                padding 80px
                text-align: center;
            .item_support__content
                font-size 20px
                text-align: justify;
                margin: 0 auto;
                padding-bottom: 15px;
            .item_support_1
                .item_support__content
                    width: 215px;
            .item_support_2
                .item_support__content
                    width: 270px;
        .product-attribute-specs-table
            padding 30px
            margin-top: 50px;
            margin-bottom: 100px
            .specs__content
                margin-bottom 30px
            h3
                font-size 23px
                margin-bottom 2rem
            .bd-right
                border-right 0.5px solid #000
            h4.highlight
                font-size 32px
            span
                font-size 11px
            .item-spect
                padding 20px 50px
            a.btn-showmore
                margin 0 auto
        .feautred
            margin-bottom: 40px
        .product-video
            padding-top 70px
        
        .product-featured
            .col-sm
                padding-right: 85px;
                h3
                    font-size 16px

            .tab-content
                .slide
                    margin-top 40px
                h3.product-title
                    text-align: center;
                    margin-top: 100px;
                    font-size: 34px;
                    margin-bottom: 25px;
                .product-description
                    padding 0 150px 70px 150px
                    text-align center
            