.product
    font-size 14px
    .product-main
        padding 0 80px
        .product-thumbnails
            a
                img
                    margin 0 auto
        .product-gallery
            img
                width 100%
        img
            border 1px solid #f0f0f0
    .product-info
        .product-btn
            display block
            padding 10px
            text-align center
            border-radius 20px
            background #F7F8FA
            &.price
                background-color #08649C
                color #fff
        .product-title
            font-size 24px
        .product-short-description
            ul
                margin-left 0px
    .slide-featured-product
        .slide-item
            img
                width 100%
    .product-footer
        margin-top 60px
        .nav-link
            padding-bottom 0px
        .nav-tabs .nav-link.active
            color: #495057;
            border none
            background none
            &::after
                height: 3px;
                display: block;
                width: 30px;
                background: #30BCEE;
                content: '';
                margin: 10px auto 0px auto;
                
    .product-attribute-specs-table
        background #F7F8FA
        padding 30px
        h3
            font-size 23px
            margin-bottom 2rem
        .bd-right
            border-right 0.5px solid #000
        h4.highlight
            font-size 32px
        span
            font-size 11px
        .item-spect
            padding 20px 50px
        a.btn-showmore
            margin 0 auto