.product-detail
    font-size 14px
    .product-main
        padding 0 80px
        .product-thumbnails
            a
            
                img
                    margin 0 auto
        .product-gallery
            img
                width 100%
                border: 1px solid #f0f0f0;
            .slick-slide
                padding 3px
        img
            border: 1px solid #f0f0f0;
    .product-info
        .product-btn
            display block
            padding 10px
            text-align center
            border-radius 20px
            background #F7F8FA
            &.price
                background-color #08649C
                color #fff
        .product-title
            font-size 24px
        .product-short-description
            ul
                margin-left 0px
    .slide-featured-product
        .slide-item
            img
                width 100%
    .product-footer
        margin-top 60px
        .nav-link
            padding-bottom 0px
        .nav-tabs .nav-link.active
            color: #495057;
            border none
            background none
            &::after
                height: 3px;
                display: block;
                width: 30px;
                background: #30BCEE;
                content: '';
                margin: 20px auto 0px auto;
                
    .product-attribute-specs-table
        background #F7F8FA
        padding 30px
        margin-top: 50px;
        h3
            font-size 23px
            margin-bottom 2rem
        .bd-right
            border-right 0.5px solid #000
        h4.highlight
            font-size 32px
        span
            font-size 11px
        .item-spect
            padding 20px 50px
        a.btn-showmore
            margin 0 auto
    .product-featured
        .col-sm
            padding-right: 110px;
            h3
                font-size 16px
.tab-content
    font-size 12px
    .product-title
        text-align left
        margin-top 40px
        margin-bottom 10px
        font-size 26px
    .sku
        margin-bottom 30px
    .product-description
        padding 0 150px
        text-align center
.item_feautred
    .item__title 
        font-size 20px
        margin-top 15px
        height 45px
        margin-bottom: 20px
    .item__description
        font-size 12px
        padding: 0 12px;
        text-align justify
.product-video
    margin-bottom 40px
    .item_video__title
        margin-top: 25px
        text-align: center
    .item_support
        padding 80px 135px
.product-viewed__item
    background-color #ffffff
    padding 50px
    .item-product__image
        padding-bottom 30px
    .item-product__detail
        font-size 10px
        padding-top 30px
        text-align center
        .item-product__price,h3
            font-size 10px
.product-support
    
    .item_support
        background #F7F8FA
        padding 80px
        text-align: center;
    .item_support__content
        font-size 20px
        text-align: justify;
        margin: 0 auto;
        padding-bottom: 15px;
    .item_support_1
        margin-left 40px
        margin-right 10px
        .item_support__content
            width: 215px;
    .item_support_2
        margin-left 10px
        margin-right 40px
        .item_support__content
            width: 270px;
    a.link-sp
        font-size 9px
        text-align center
        padding-top 15px
.view-more-sp
    margin-top 40px
    padding-bottom: 20px
.product-viewed
    border-top 1px solid #797b7e
    padding-top 50px
    margin-top 30px
    .product-section-title
        font-size 26px
        text-align: center
        text-transform: uppercase