.page-support
    .banner
        background-repeat: no-repeat
        padding 70px
        background-size: cover;
        color #fff
        .banner__content
            width: 50%
            h3
                font-size 38px
            .input-group
                width 320px
            span
                font-size 10px
.item-info-support
      border-bottom 1px solid grey
        