.page-system-cool
    font-size 12px
    h1
        font-size 55px
    table
        font-size 10px
        thead
            font-size 12px
            th
                border none
                padding 0px 0px 20px 0px
        td
            padding 20px 0
    select.form-control
        font-size 12px
        border none
        padding 0px
        height: auto;
    .shop-ecool
        font-weight 500
    .see-more-system-ecool
        margin-bottom 50px
        color #30bcee
    .shop-ecool
        font-weight 500
    .map-contact
        opacity 0.5
        width: 100%;
        height: 400px;
        background-color: grey;