.video-header
    margin-top 20px
.video-header-title
    margin-top 20px
    font-weight bold
.arrow 
    margin-top -8px
    margin-left 250px
@media(min-width 992px)
    .video-header
        margin-top 55px
        margin-bottom 55px
    .img-video
        width 545px
        height 308px
    .video-header-title
        margin-top 45px
        font-weight bold
    .arrow__left
        width 7px
        padding 5px 11px
        border 1px solid #000
        border-top-left-radius: 6px
        border-bottom-left-radius: 6px 
        opacity 0.4
    .arrow__right
        width 7px
        padding 5px 11px
        border 1px solid #000
        border-left: none
        border-top-right-radius: 6px
        border-bottom-right-radius: 6px 
        opacity 0.4
    .arrow
        display inline-block
        position absolute
        bottom 0
        left 15px
    .video-items-title
        font-weight bold
        margin-bottom 50px
    .video-items
        margin-bottom 50px
    .img-item-video
        margin-bottom 20px
    .name-item-video
        font-weight bold
    .item-video 
        border 1px solid #f7f8fa
