@media (min-width: 320px)
    .subscribe
        padding 106px 0
        .subscribe__form
            display flex
            justify-content space-between
            .subscribe__input
                height 44px
                width calc(100% - 188px)
                padding-left 30px
                border none
                background-color #F2F2F2
                &::placeholder
                    color #B3B3B3
            .subscribe__submit
                padding 12px 30px
                line-height 20px
                background-color #30BCEE
                border none
