@media (min-width: 320px)
    .subscribe
        padding 106px 0
        .subscribe__form
            display flex
            justify-content space-between
            .subscribe__input
                height 44px
                width calc(100% - 188px)
                padding-left 30px
                border none
                background-color #F2F2F2
                &::placeholder
                    color #B3B3B3
            .subscribe__submit
                padding 12px 30px
                line-height 20px
                background-color #30BCEE
                border none
@media(min-width:992px)
    .menu.bg-blue
        padding-top 55px
        padding-bottom 55px
    .item-footer
        padding 7px 7px 7px 0;
        font-size 16px
    .menu__title
        margin-bottom 30px;
    .social.text-center
        padding-top 80px
        padding-bottom 80px
    .social__icon
        width 36px
        margin-right 24px
     .copyright__info
        padding-bottom 50px
    .language
        width 20px
        height 11px
        padding 9px 0 0px
        display inline-block
        margin-right 10px       
    .search
        width 20px
        padding 52px 0 33px
        margin 0 20px 0 35px
    .language-footer 
        float right