@media (min-width: 320px)
    header
        margin-bottom 10px
        .navbar
            padding 10px 0 0
            .navbar-brand
                max-height 100%
                max-width 131px
            .navbar-nav
                display flex
                .nav-item
                    padding 0
                    margin 0 auto
                    a
                        font-size 12px
                        line-height 14.4px
                        color #000000
                        padding 12px 17px
                        display inline-block
                        border-bottom 4px solid #ffffff
                        &:hover
                            border-bottom 4px solid #30BCEE
                            text-decoration none
                .active
                    a
                        border-bottom 4px solid #30BCEE
                        text-decoration none
            .search
                width 20px
                padding 0 0 20px 0
                margin 0 auto
                display block
            .language
                width 20px
                margin 0 auto
        .search-block
            position relative
            #form-search
                width 100%
                position absolute
                z-index 10
                height 40px
                right 0px
                top 40px
                transition ease 0.5s
                display flex
                input
                    width 100%
                    border-radius 20px
                    border 1px solid #a4a7ab
                    padding 2px 15px
                    &:focus
                        outline none
                button
                    width 20px
                    background transparent
                    padding 0
                    border 0
                    position relative
                    right 30px
        .language-block
            margin-bottom 70px
@media (min-width: 992px)
    header
        margin-bottom 0px
        border-bottom 1px solid #808080
        .navbar
            padding 10px 0 0
            .navbar-brand
                max-height 100%
                max-width 131px
            .navbar-nav
                display flex
                .nav-item
                    padding 0
                    a
                        font-size 12px
                        line-height 14.4px
                        color #000000
                        padding 52px 17px 33px
                        &:hover
                            border-bottom 4px solid #30BCEE
                            text-decoration none
            .search
                width 20px
                padding 52px 0 33px
                margin 0 20px 0 35px
            .language
                width 20px
                padding 9px 0 0px
                display inline-block
                margin-right 10px
        .search-block
            position relative
            #form-search
                width 0
                position absolute
                z-index 10
                height 40px
                right 0px
                top 40px
                transition ease 0.5s
                display flex
                input
                    width 0
                    border-radius 0
                    border 0
                    padding 0
                    &:focus
                        outline none
                button
                    width 0
                    background transparent
                    padding 0
                    border 0
                    position relative
                    right 30px
            #form-search.show_search
                width 600px
                right -5px
                input
                    width 100%
                    border-radius 20px
                    border 1px solid #a4a7ab
                    padding 2px 15px
                    &:focus
                        outline none
                button
                    width 20px
        .language-block
            margin-bottom 0px
