.video
    padding-top 80px
    padding-bottom 80px
    #home-video-slider
        .video__item
            .video__img
                height 280px
                width: 548px
                margin: 0 auto;
            .video__content
                padding-top 10px