@media (min-width: 320px)
    .news
        padding-top 30px
        h2
            line-height: 28px
            margin-bottom: 20px
        .news__banner
            position relative
            .label
                width: 122px
                position absolute
                background-size: 100% 100%
                padding-bottom: 25px
                padding-left: 10px
                left 15px
                top 0
                margin-bottom 20px
        .arrow
            display inline-block
            position absolute
            bottom 0
            left 15px
            img
                width 7px
            .arrow__left
                width 7px
                padding 5px 11px
                border 1px solid #000
                border-top-left-radius: 6px
                border-bottom-left-radius: 6px 
            .arrow__right
                width 7px
                padding 5px 11px
                border 1px solid #000
                border-left: none
                border-top-right-radius: 6px
                border-bottom-right-radius: 6px 
        .news__viewall
            margin-top: 50px
            a
                color #08649C
                &:hover
                    text-decoration: none;
                img
                    width 16px
                    margin-left 20px
@media (min-width 992px)
    .news
        padding-top 90px
        h2
            line-height: 28px
            margin-bottom: 47px