.product_item_style_1
    margin-bottom 20px
    padding-right: 8px;
    padding-left: 8px;
    .item__wrap
        background #F7F8FA
        padding-bottom 30px

    .item__title
        font-size 16px
        text-align center
    .item__price
        font-size 15px
        text-align center
    .item__shortdescription
        font-size 10px
        margin-bottom 10px
    .divider
        border-top: 1px solid #ccc;
        width: 85%;
        margin: 0 auto;
        margin-bottom: 1rem;
    .btn-detail
        border: 1px solid #343a40;
        border-radius: 1rem;
        padding: 5px 15px;
        font-size: 10px;
        margin: 0 auto;
        display: block;
        width: 130px;
        text-align: center;