.img-banner-product
    margin-top 50px
.product-card
    margin-top 130px
    margin-bottom 150px
.btn--detail
    padding 10px 20px 10px 20px;
    border 2px solid #30BCEE;
    border-radius 25px
    font-size 14px
    &:hover
        color white
        background-color #30BCEE
    