@media (min-width: 992px) {
  .items-support {
    margin-top: 60px;
  }
  .img-support {
    width: 190px;
    height: 270px;
  }
  .img-icon-left {
    width: 50px;
    height: 50px;
    float: right;
  }
  .img-icon-right {
    width: 50px;
    height: 50px;
    float: left;
  }
  .item-support {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
