.news-title {
  margin-bottom: 10px;
}
.news-description {
  font-size: 14px;
  font-weight: 500;
}
.image-news-detail {
  width: 100%;
  height: 295px;
}
.date-create-news-detail {
  float: right;
  margin-bottom: 50px;
}
