.product {
  font-size: 14px;
}
.product .product-main {
  padding: 0 80px;
}
.product .product-main .product-thumbnails a img {
  margin: 0 auto;
}
.product .product-main .product-gallery img {
  width: 100%;
}
.product .product-main img {
  border: 1px solid #f0f0f0;
}
.product .product-info .product-btn {
  display: block;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  background: #f7f8fa;
}
.product .product-info .product-btn.price {
  background-color: #08649c;
  color: #fff;
}
.product .product-info .product-title {
  font-size: 24px;
}
.product .product-info .product-short-description ul {
  margin-left: 0px;
}
.product .slide-featured-product .slide-item img {
  width: 100%;
}
.product .product-footer {
  margin-top: 60px;
}
.product .product-footer .nav-link {
  padding-bottom: 0px;
}
.product .product-footer .nav-tabs .nav-link.active {
  color: #495057;
  border: none;
  background: none;
}
.product .product-footer .nav-tabs .nav-link.active::after {
  height: 3px;
  display: block;
  width: 30px;
  background: #30bcee;
  content: '';
  margin: 10px auto 0px auto;
}
.product .product-attribute-specs-table {
  background: #f7f8fa;
  padding: 30px;
}
.product .product-attribute-specs-table h3 {
  font-size: 23px;
  margin-bottom: 2rem;
}
.product .product-attribute-specs-table .bd-right {
  border-right: 0.5px solid #000;
}
.product .product-attribute-specs-table h4.highlight {
  font-size: 32px;
}
.product .product-attribute-specs-table span {
  font-size: 11px;
}
.product .product-attribute-specs-table .item-spect {
  padding: 20px 50px;
}
.product .product-attribute-specs-table a.btn-showmore {
  margin: 0 auto;
}
