.border-form-system {
  border: 0;
  border-radius: 10px;
  background-color: #f7f8fa;
  height: 46px;
}
.btn-search-system {
  border: 0;
  border-radius: 10px;
  margin-left: 0;
  margin-right: 0;
}
.form-search-system {
  position: relative;
}
.input-search-system {
  border: 0;
  border-radius: 30px;
}
.btn-search-system {
  position: absolute;
  right: 0;
  top: 0;
  height: 30px;
  border-radius: 30px;
}
.img-btn-search {
  color: #f7f8fa;
}
